.topnamebestof {
    margin-left: 10px;

    h4 {
        margin: 0;
    }

    p {
        margin: 0;
        color: rgba(255, 255, 255, 0.5);
    }
}

.avatar-top {
    border-radius: 5px !important;
}

.creator-listing-bestof{
    a{
        color: #fff;
        font-size: 15px;
    }
}