.vap {
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
}

/***** Sizes START *****/
.vap-xs {
    width: .75em;
    height: .75em;
}
.vap-sm {
    width: .875em;
    height: .875em;
}
.vap-lg {
    width: 1.33em;
    height: 1.33em;
}
.vap-1x {
    width: 1em;
    height: 1em;
}
.vap-2x {
    width: 2em;
    height: 2em;
}
.vap-3x {
    width: 3em;
    height: 3em;
}
.vap-4x {
    width: 4em;
    height: 4em;
}
.vap-5x {
    width: 5em;
    height: 5em;
}
.vap-6x {
    width: 6em;
    height: 6em;
}
.vap-7x {
    width: 7em;
    height: 7em;
}
.vap-8x {
    width: 8em;
    height: 8em;
}
.vap-9x {
    width: 9em;
    height: 9em;
}
.vap-10x {
    width: 10em;
    height: 10em;
}
.vap-z-1 {
    width: 1px;
    height: 1px;
}
.vap-z-2 {
    width: 2px;
    height: 2px;
}
.vap-z-3 {
    width: 3px;
    height: 3px;
}
.vap-z-4 {
    width: 4px;
    height: 4px;
}
.vap-z-5 {
    width: 5px;
    height: 5px;
}
.vap-z-6 {
    width: 6px;
    height: 6px;
}
.vap-z-7 {
    width: 7px;
    height: 7px;
}
.vap-z-8 {
    width: 8px;
    height: 8px;
}
.vap-z-9 {
    width: 9px;
    height: 9px;
}
.vap-z-10 {
    width: 10px;
    height: 10px;
}
.vap-z-15 {
    width: 15px;
    height: 15px;
}
.vap-z-17 {
    width: 17px;
    height: 17px;
}
.vap-z-20 {
    width: 20px;
    height: 20px;
}
.vap-z-30 {
    width: 30px;
    height: 30px;
}
.vap-z-40 {
    width: 40px;
    height: 40px;
}
.vap-z-50 {
    width: 50px;
    height: 50px;
}
.vap-z-85 {
    width: 85px;
    height: 85px;
}
/***** Sizes END *****/

/***** Icons START *****/
.vap-dragon {
    background-image: url(../../images/emojis/dragon-face_1f432.png);
}
.vap-egg {
    background-image: url(../../images/emojis/egg_1f95a.png);
}
.vap-hatching-chick {
    background-image: url(../../images/emojis/hatching-chick_1f423.png);
}
.vap-chick {
    background-image: url(../../images/emojis/front-facing-baby-chick_1f425.png);
}
.vap-rooster {
    background-image: url(../../images/emojis/rooster_1f413.png);
}
.vap-turkey {
    background-image: url(../../images/emojis/turkey_1f983.png);
}
.vap-swan {
    background-image: url(../../images/emojis/swan_1f9a2.png);
}
.vap-flamingo {
    background-image: url(../../images/emojis/flamingo_1f9a9.png);
}
.vap-peacock {
    background-image: url(../../images/emojis/peacock_1f99a.png);
}
.vap-vulcan-salute {
    background-image: url(../../images/emojis/vulcan-salute_1f596.png);
}
.vap-waving-hand {
    background-image: url(../../images/emojis/waving-hand_1f44b.png);
}
.vap-backhand-index-pointing-down {
    background-image: url(../../images/emojis/backhand-index-pointing-down_1f447.png);
}
.vap-call-me-hand {
    background-image: url(../../images/emojis/call-me-hand_1f919.png);
}
.vap-gem {
    background-image: url(../../images/emojis/gem-stone_1f48e.png);
}
.vap-setting {
    background-image: url(../../images/emojis/gear_2699-fe0f.png);
}
.vap-rocket {
    background-image: url(../../images/emojis/rocket_1f680.png);
}
.vap-trophy {
    background-image: url(../../images/emojis/trophy_1f3c6.png);
}
.vap-house {
    background-image: url(../../images/emojis/house_1f3e0.png);
}
.vap-party-popper {
    background-image: url(../../images/emojis/party-popper_1f389.png);
}
.vap-woozy-face {
    background-image: url(../../images/emojis/woozy-face_1f974.png);
}
.vap-hugging-face {
    background-image: url(../../images/emojis/hugging-face_1f917.png);
}
.vap-star-struck {
    background-image: url(../../images/emojis/star-struck_1f929.png);
}
.vap-smiling-face-with-heart-eyes {
    background-image: url(../../images/emojis/smiling-face-with-heart-eyes_1f60d.png);
}
.vap-ninja {
    background-image: url(../../images/emojis/ninja_1f977.png);
}
.vap-eyes {
    background-image: url(../../images/emojis/eyes_1f440.png);
}
.vap-globe {
    background-image: url(../../images/emojis/globe-showing-americas_1f30e.png);
}
.vap-person-gesturing-no {
    background-image: url(../../images/emojis/person-gesturing-no_1f645.png);
}
/***** Icons END *****/


