.ico-master {
  font-size: 85px;
}

.plus {
  font-size: 25px;
  margin: 0 10px;
  opacity: 0.2;
}

.plan-price {
  span {
    display: flex;
    align-items: center;
  }

  .ico {
    font-size: 20px !important;
    margin-left: 5px;
  }
}

.dodo {
  .basic-pricing {
    background: linear-gradient(150deg, $c1, #471867, $c1, #230b36, $c1);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  .ico-masterclass {
    font-size: 185px;
  }
}

.pricing-card .annual-plan .plan-price span {
  font-size: 2.5rem;
  line-height: 0.8;
}

.basic-pricing {
  .card-text {
    font-size: 15px;
    color: #9b989f;
  }
}

.pricing-badge {
  position: absolute;
  right: 10px;
  top: 10px;
}

.blog-detail-wrapper {
  h1 {
    color: $rose;
  }

  h2 {
    font-size: 20px;
    margin: 40px 0 20px 0;
  }
}

.apropos {
  h1 {
    font-weight: 600;
    font-size: 2.5rem;
    margin: 0;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }

    img {
      max-width: 210px;
      transform: rotate(7deg);
    }
  }

  .infoabout {
    margin: 0 0 20px;
    font-size: 13px;
    color: #a29d9d;
  }

  .card-text {
    h2 {
      background: rgba(255, 255, 255, 0.05);
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 20px;
      margin: 60px 0 20px 0;
      text-transform: uppercase;
      font-weight: 600;
    }

    img {
      border-radius: 10px;
      max-width: 100%;
      height: auto;
    }
  }

  p {
    line-height: 2rem;
    font-size: 16px;
    font-weight: 400;
  }
}

.space {
  display: inline-block;
  width: 5px;
}

.card-footer {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.evolution {
  h1 {
    color: $rose;
    font-weight: 600;
    font-size: 2.5rem;
    margin: 0;
    text-transform: uppercase;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 768px) {
  .evolution {
    h1 {
      font-size: 1.5rem;
    }
  }
}

.apropos {
  a {
    color: $rose !important;

    &:hover {
      text-decoration: underline;
    }
  }
}

.ajout-contender-page {

  h1 {
    font-size: 52px;
    background: -webkit-linear-gradient(315deg, #9921e8 1.84%, #5f72be 102.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 2.6rem;
    }
  }

  .overlay {
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
  }

  .overlay {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
  }

  .notification {
    display: grid;
    place-items: center;
    text-align: center;
    margin: 0 auto;
    min-height: 260px;
    width: 400px;
    padding: 1.5rem;
    background: #36036D;
    background: linear-gradient(to bottom right, #36036D, #7B35F2);
    border-radius: 12px;
    z-index: 1001;

    position: fixed;
    top: 35%;
    left: 45%;

    @media (max-width: 794px) {
      top: unset;
      left: unset;
      width: 280px;
      padding: 0.5rem;
      min-height: 100px;
    }

    h3 {
      font-size: 2.5rem;
      margin: .8rem 0 .4rem;

      @media (max-width: 768px) {
        font-size: 1.8rem;
      }
    }

    p {
      font-size: 1.2rem;
      font-weight: 300;
      opacity: .9;

      @media (max-width: 768px) {
        font-size: .9rem;
      }
    }

    a {
      background: #F4167F;
      color: #FFF;
      border-color: #F4167F;
      margin: .6rem 0;
      &:hover {
        box-shadow: 0 8px 25px -8px #F4167F;
      }

      @media (max-width: 768px) {
        font-size: 1.1rem;
      }
    }

    .closeNotification {
      margin-left: auto;
      background: none;
      border: none;
      outline: none;
      font-size: 3rem;
      color: #FFF;
      line-height: 100%;
      margin-top: -1rem;
      padding: 0;
    }
  }

  .rotate-in-center {
    -webkit-animation: rotate-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: rotate-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @-webkit-keyframes rotate-in-center {
    0% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 1;
    }
  }
  @keyframes rotate-in-center {
    0% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 1;
    }
  }

  .msg-validation {
    font-size: 1.5rem;
    text-align: center;
    padding: 2.4rem;
    border: 2px dashed #7367f0;
    color: #7367f0;
    background-color: #2e3750;
    border-radius: 4px;

    a {
      text-decoration: underline !important;
    }
  }
}