.logopm {
    width: 310px;
    text-align: center;
    margin: 0 auto;
}

.bloc-result {
    margin-bottom: 40px;
    text-align: center;

    h3 {
        text-align: center;
        margin-bottom: 40px !important;
        font-size: 25px;

        span {
            font-size: 14px;
        }
    }

}

.result-paris-manga {
    .pricing-card .annual-plan .plan-price span {
        font-size: 1.5rem;
        display: inline-block;
        text-align: center;
        margin: 0 auto;
    }
}

.big{
    text-align: center;
    font-size: 50px;
    margin: 100px 0;
}