@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');
@font-face {
    font-family: 'Themysion Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Themysion Regular'), url('../../fonts/Themysion-2OjKo.woff') format('woff');
}

.t-marqueblanche {
    .app-content-marqueblanche {
        margin-left: 0px;
        padding: calc(2rem + 3.45rem + 1.3rem) 2rem 2rem;
        min-height: 100vh;
    }

    .logo_marqueblanche {
        margin-top: -80px;

        img {
            max-width: 270px;
            height: auto;
        }
    }

    .intro-marqueblanche {
        display: flex;
        flex-direction: row;
    }

    .t-objectif-marqueblanche {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 110px;
        background: url("../../images/marqueblanche/gdp/bulle-gdp.svg") no-repeat center;
        background-size: contain;
        font-size: 28px;
        font-family: 'Dosis', sans-serif;
    }

    .t-question-marqueblanche {
        font-family: 'Themysion Regular';
        font-size: 80px;
        color: #040404;
        margin-top: 50px;

        img {
            width: 100px;
            height: auto;
        }
    }

    .app-content-marqueblanche-result {
        margin-left: 0px;
        padding: calc(2rem + 3.45rem + 1.3rem) 0rem 0rem;
        min-height: 100vh;
    }

    .classement {
        overflow-x: hidden;
    }

    .battle-marqueblanche {
        margin-left: 230px;
    }

    .top-marque-blanche {
        text-align: end;
        margin-top: -50px;
    }

    .title-contender-marqueblanche {
        font-family: 'Dosis';
        color: #040404;
        text-transform: uppercase;
        font-size: 26px;
        margin-top: -30px;
    }

    .versus-marqueblanche {
        img {
            border-radius: 0 !important;
            max-width: 130px;
        }
    }

    .social-media-marqueblanche {
        display: flex;
        margin-top: 40px;

        a {
            margin: 0 10px;
        }

        img {
            max-width: 70px;
            height: auto;
        }
    }

    .txt_votes_marqueblanche {
        color: #040404;
    }

    .r-resultat-marqueblanche {
        font-family: 'Themysion Regular';
        font-size: 96px;
        color: #040404;
        margin-top: 20px;
        width: 100%;
    }

    .crown:before {
        content: url("../../images/marqueblanche/gdp/crown-gdp.svg");
        position: absolute;
        width: 100%;
        text-align: center;
        padding-right: 20px;
    }

    .top1 {
        margin-top: -70px;
        margin-right: 30px;
    }

    .top2 {
        margin-top: -20px;
    }

    .top3 {
        margin-right: -10px;
    }

    @media (max-width: 1000px) {
        .top-marque-blanche img {
            max-width: 45px;
        }
    }

    @media (max-width: 500px) {
        .top-marque-blanche img {
            max-width: 35px;
        }
    }

    .footer-resultat {
        display:flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .cover-coupon {
        background: url("../../images/marqueblanche/gdp/bg-coupon.svg") no-repeat center;
        background-size: cover;
        padding: 50px 153px 60px 60px;
        margin-left: -30px;
    }

    .coupon-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-family: 'Themysion Regular';
            font-size: 75px;
            color: #000;
            letter-spacing: 5px;
            margin-bottom: -15px;
        }

        p {
            font-family: 'Dosis';
            font-size: 25px;
            color: #000;
            width: 50%;
            line-height: 31px;
        }

        form {
            width: 400px;
            margin-top: 15px;

            input {
                background: rgba(255, 255, 255, 0.6);
                border: none;
                padding: 15px 30px;
                width: 100%;

                &::placeholder {
                    font-family: 'Cormorant';
                    font-size: 20px;
                    color: #000;
                    opacity: 40%;
                }

                &:focus {
                    border: 2px solid #040404;
                    outline: none !important;
                }
            }
        }

        a {
            background: #000;
            border: none;
            padding: 15px;
            width: 100%;
            border-radius: 0;
            margin-top: 15px;
            font-family: 'Birthstone Bounce';
            font-weight: 500;
            font-size: 24px;
            width: 400px;
        }
    }

    .social-media-marqueblanche-resultat {
        margin-bottom: 60px;

        a {
            margin: 0 10px;
        }

        img {
            max-width: 70px;
            height: auto;
        }
    }

    .more-marqueblanche {
        margin-bottom: 60px;
        background: url(../../images/marqueblanche/gdp/bulle-gdp.svg) no-repeat center;
        background-size: contain;
        padding: 20px 100px;
        font-family: 'Dosis';
        font-size: 18px;
    }

    @media (max-width: 768px) {
        .app-content-marqueblanche {
            padding: calc(1rem - 0.8rem + 6.45rem + 1.3rem) calc(2rem - 0.8rem) 0 calc(2rem - 0.8rem) !important;
            flex-direction: column;
            align-items: center;
        }

        .intro-marqueblanche {
            flex-direction: column;
        }

        .logo_marqueblanche {
            margin-bottom: 50px;

            img {
                max-width: 240px;
                height: auto;
            }
        }

        .t-objectif-marqueblanche {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 90px;
            background: url("../../images/marqueblanche/gdp/bulle-gdp.svg") no-repeat center;
            background-size: contain;

            h3 {
                font-size: 22px;
                font-family: 'Dosis';
                width: 80%;
            }
        }

        .t-question-marqueblanche {
            font-size: 60px;
        }

        .t-question-marqueblanche {
            font-size: 60px;

            img {
                width: 70px;
                height: auto;
            }
        }

        .battle-marqueblanche {
            margin-left: 0;
        }

        .title-contender-marqueblanche {
            width: 50%;
            margin: 10px 0 0;
            padding: 0 5px;
        }

        .versus-marqueblanche {
            margin: 15px auto;
            position: relative;

            img {
                max-width: 80px !important;
                border-radius: 0;
                height: auto;
                position: relative;
                z-index: 33;
            }
        }
        .cover-coupon {
            padding: 0;
            margin-left: 0;
            margin: 30px 0px 60px;
            background: none;
        }
        .coupon-content {
            form, a {
                width: 300px;
            }
        }
        .social-media-marqueblanche-resultat {
            margin-bottom: 40px;
        }

        .intro-marqueblanche {
            align-items: center;
        }

        .footer-resultat {
            display:flex;
            flex-direction: column;
            align-items: center;
        }
    }
}