.participatif__container {
  
  &-disabled {

    &__content {
      position: relative;

      .card-status {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba($color: #000000, $alpha: 0.5) !important;
        z-index: 1;
        height: 100% !important;
        width: 100% !important;

        display: grid;
        place-items: center;

        h1 {
          font-size: 2.9rem;
          margin-bottom: 9rem;
          font-weight: bolder;
          text-transform: uppercase;
          padding: 1.8rem;
          border: 3px solid #FFF;
          background: linear-gradient(to bottom right,#2E124C, #100A2A, .1);
          border-radius: 12px;
        }
      }

      .participatif-cta {
        pointer-events: none;
        background-color: #BBBCB6 !important;
        border: none;
        outline: none;
      }
    }
  }
}

.blur{
  filter: blur(1.5px);
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
}

.noBlur {
  filter: blur(0) !important;
  -webkit-filter: blur(0) !important;
  -moz-filter: blur(0) !important;
  -o-filter: blur(0) !important;
  -ms-filter: blur(0) !important;
}