.intro-sponso {
    .intro {
        width: 100%;
    }
}

.rules-content {
    text-align: start;
    padding: 0;

    .text-rules {
        padding: 0 10px;
    }

    .title-win {
        background: $rose;
        border: $rose;
        border-radius: 3px;
        text-align: center;

        h4 {
            padding: 8px;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            line-height: 21px;
        }
    }

    .icone-cadeau {
        font-size: 30px;
    }
}

.share-text {
    color: $c5 !important;
    font-size: calc(1rem);
}

.fs-12px {
    font-size: 12px;
}

#timer-sponso {
    font-size: 48px;
    line-height: 59.71px;
    font-weight: 500;
}

.grey {
    color: #3c4352;
}

.bb {
    display: inline-block;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}


.timer-content-sponso {
    padding: 15px 10px 5px !important;

    p {
        margin: 0;
    }
}

.share-content-sponso,
.share-top-sponsor {
    padding: 15px 20px !important;
}

.social-media-sponso {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;

    a {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .btn {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.participation-content-sponso {
    h1 {
        font-family: "Lato";
        font-weight: 900;
        font-size: 38px;
        line-height: 44px;
        text-transform: uppercase;
        color: #ffffff;
        text-shadow: 3px 3px 0px #312673;

        .participation {
            font-size: 282px;
            line-height: 35px;
        }

        .vainkeurz {
            font-size: 39px;
            line-height: 35px;
        }
    }

    a {
        text-decoration: none;
    }

    .info-win {
        text-align-last: left;
        font-size: 18px;
        line-height: 24px;
        margin: 10px 0 15px;

        strong {
            font-weight: normal;
            color: $rose;
        }
    }

    .info-share2 {
        font-family: "Roboto";
        font-size: 14px;
        line-height: 16px;
        color: #c4c4c4;
    }

    .buttons-share-top {
        a:first-child {
            margin-right: 10px;
        }
    }
}

.badge-light-rose {
    background: $rose !important;
}

.min-tournoi .cov-illu .badge-light-rose {
    position: absolute;
    right: auto;
    left: 5px;
    top: 5px;
    z-index: 3;
}

.title-win {
    width: 100%;
}

#form-coupon {
    display: flex;
    max-width: 100%;

    input[type="email"] {
        background: transparent;
        border: 2px solid #7367f0;
        padding: 10px;
        color: #fff;
        height: 50px;
        width: 480px;
        max-width: 80%;
        border-radius: 5px 0 0 5px !important;
    }

    #btn-coupon {
        max-width: 20%;
        height: 50px;
        background: #7367f0;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 0px 5px 5px 0 !important;
    }
}

.single-classement {
    .logo-vkrz-sponso {
        width: 100%;
        text-align: center;
    }

    .content-wrapper {
        margin-bottom: 200px;
    }

    .content.app-content {
        padding: calc(2rem + 3.45rem + 1.3rem) 2rem 10px;
        min-height: 100vh;
    }

    .bravo {
        width: 100%;
        padding: 5px;
        border: 3px solid $rose;
        display: none;
        border-radius: 10px;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 768px) {

    .participation-content-sponso h1 {
        font-size: 20px;
        line-height: 25px;
    }

    .info-win {
        font-size: 12px;
        line-height: 18px;

        p {
            margin-bottom: 5px;
        }
    }

    .reseaux-sponso {
        flex-direction: column;
    }

    .logo-vkrz-sponso {
        width: 100%;
    }

    .share-top-sponsor {
        align-items: center !important;
    }

    html .content.app-content .card-developer-meetup .card-title {
        font-size: 17px;
        line-height: 20px;
    }

    .infos-card-t {
        margin: 10px 0;
    }

    #form-coupon {
        flex-direction: column;
        width: 100%;

        input[type="email"] {
            width: 100%;
            max-width: 100%;
            border-radius: 10px !important;
        }

        #btn-coupon {
            width: 100%;
            max-width: 100%;
            border-radius: 10px !important;
            margin-top: 0.6rem;
        }
    }

    .please-rejoin {
        padding: 20px 0 10px;
    }

    .single-classement {
        .content-wrapper {
            margin-bottom: 20px;
        }
    }

}

.logo-vkrz-sponso {
    flex: 40%;
}

.buttons-social-media {
    a {
        margin-right: 10px;
    }
}

.text-rules {
    img {
        max-height: 100px;
        width: auto;
        margin: 0 auto;
    }
}

.other-topsponso {
    text-align: center;

    .btn-rose {
        color: #fff;
        transition: all 0.2s ease-in;

        &:hover {
            transform: scale(1.05);
            color: #fff;
        }
    }
}

.other-topsponso-mobile {
    position: fixed;
    bottom: 0;
    z-index: 999;
    text-align: left;
    right: 0;
    left: 0;

    a {
        border-radius: 0 !important;
    }
}