.cover-profil{
  background-color: $c1;
  min-height: 200px;
}

.avatar-picture-max{
  display: block;
  height: 100px;
  width: 100px;
  background-size: cover;
  background-color: $c5;
  border-radius: 50%;
}
.avatartop3{
  width: 30px;
  height: 30px;
  transform: scale(1);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  img{
    width: 100%;
    height: auto;
  }
  &:hover{
    transform: scale(2);
  }
}
.auth-inner{
  .brand-text{
    max-width: 150px;
    margin-right: 10px;
  }
}

.dark-layout body.user-page, .dark-layout #user-profile .profile-header .navbar{
  background: linear-gradient(50deg, $c1, #471867, $c1, $c1);
  background-size: 400% 400%;
  animation: gradient 60s ease infinite;
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  color: #fff !important;
  -webkit-text-fill-color: #fff !important;
  -webkit-text-size-adjust: 100% !important;
}

.wppb-user-forms{
  max-width: 550px;
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style-type: none;
      display: block;
      margin-bottom: 20px;
    }
  }
  input[type="text"], input[type="email"], input[type="password"]{
    background: transparent !important;
    border: 2px solid rgba(255, 255, 255, 0.2) !important;
    padding: 20px 15px !important;
    font-size: 15px !important;
    border-radius: 10px !important;
    color: #fff !important;
    transition: all .2s ease-in-out;
    &::placeholder {
      color: rgba(255, 255, 255, 0.8);
    }
    &:valid{
      border: 2px solid #fff !important;
    }
    &:focus{
      border: 2px solid $rose !important;
      transition: background-color 5000s ease-in-out 0s !important;
      -webkit-box-shadow: none !important;
      background: transparent !important;
      outline: 0;
    }
  }
}

.wppb-send-credentials-checkbox, #select_user_to_edit_form, .wppb-description-delimiter, .file-type, .file-name, .login-remember{
  display: none !important;
}
.wppb-avatar{
  display: flex !important;
  align-items: center;
  label{
    color: #fff;
    font-size: 16px;
    margin-right: 20px;
    margin-left: 5px;
    width: 100% !important;
  }
  input{
    width: 100% !important;
  }
  .wppb-attachment-link{
    img{
      border-radius: 50%;
    }
  }
  .upload-field-details{
    text-align: center;
  }
}

.wppb-remove-upload{
  cursor: pointer !important;
  display: block;
  color: $c5;
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  left: 0;
  &:hover{
    left: 5px;
  }
}

.annonce{
  padding: 0 3px;
  font-size: 15px;
}

.gif2, .gif3, .gif4{
  display: none;
}

.bigup{
  h1{
    font-size: 3rem;
  }
}

.alert-account {
  color: #fff !important;
  background: linear-gradient(90deg, rgba(244, 22, 127, 0.11), rgba(244, 22, 127, 0.2));
  background-size: 400% 400%;
  animation: gradient2 10s ease infinite;
  @keyframes gradient2 {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.t-white{
  color: #fff;
}

.scali{
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  transform: scale(1);
  display: inline-block;
  &:hover{
    transform: scale(2);
  }
}

.btn-outline-white{
  border-color: #fff;
  &:hover{
    background: #fff;
  }
}

.form-submit .submit, #wppb-submit{
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding: 10px 20px;
  line-height: 1.5;
  text-align: center;
  word-break: break-word;
  white-space: normal;
  border: none;
  cursor: pointer;
  transition: 0.35s all ease-out;
  box-shadow: 0 1px 3px #b5bacf26;
  border-color: #7367f0 !important;
  background-color: #7367f0 !important;
  color: #fff !important;
  width: auto;
  min-height: 50px;
  font-size: 16px;
  font-weight: 500;
  display: block;
  vertical-align: middle;
  user-select: none;
  border-radius: 0.358rem;
  -webkit-appearance: button;
  &:hover{
    box-shadow: 0 8px 25px -8px #7367f0;
  }
}
.wppb-success{
  color: #ffffff;
  background: #ffd2e71c;
  padding: 15px 20px;
}

.auth-bg{
  background: transparent !important;
}

.wppb-error{
  color: #ffffff;
  background: rgba(244, 29, 27, 0.39);
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  max-width: 550px;
  a{
    display: none;
  }
}

.app-user-view .btns-alert .btn-primary{
  margin-top: 0.71rem !important;
}

.invoice-list-wrapper{
  .star {
    font-size: 14px;
  }
  .startchoicedone {
    font-size: 14px;
    text-align: right;
    .ico {
      font-size: 14px;
      width: 15px;
    }
  }
  td, th{
    padding: 10px 15px 8px!important;
  }
}

.ico-action{
  font-size: 17px;
  display: inline-block;
  margin: 0 5px 0 0;
}

.infosmall{
  float: right;
  text-align: right;
}