.text-rose {
  color: #f4167f !important;
}

.big-cat .heading-cat h2 {
  font-weight: 900;
  letter-spacing: 2px;
  margin: 20px 0 5px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-rose {
  background: #f4167f !important;
  border-color: #f4167f !important;
}
.btn-rose:hover {
  background: #f4167f !important;
  border-color: #f4167f !important;
}

.mt-10p {
  margin-top: 10px;
}

.mr-10p {
  margin-right: 10px;
}

.main-menu {
  border-right: 10px solid #14122f;
}
.main-menu .navbar-header {
  height: auto;
}
.main-menu .navbar-header .navbar-brand {
  position: relative;
}
.main-menu .navbar-header .badge-beta {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.main-menu .navbar-header .badge-beta .badge {
  background: #f4167f !important;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-collapsed .brand-text {
  display: block !important;
}
.menu-collapsed .brand-text img {
  max-width: 60px;
  height: auto;
  position: relative;
  right: 30px;
}
.menu-collapsed .rs-menu {
  display: none;
}
.menu-collapsed .badge-beta {
  display: none;
}
.menu-collapsed .expanded img {
  max-width: 100%;
  height: auto;
  position: inherit;
  right: unset;
}
.menu-collapsed .expanded .rs-menu {
  display: block;
}

.bookmark-wrapper h4 {
  font-size: 14px;
  margin-top: 5px;
}

.home .bookmark-wrapper h4 {
  margin-left: 10px;
}

.min-t-thumb {
  width: 60px;
  margin-right: 10px;
}

.value-user-stats {
  font-size: 1.07rem;
  font-weight: 500;
  line-height: 1.2;
}

.user-niveau {
  width: 11px;
  height: 11px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.avatar .avatar-picture {
  display: block;
  height: 40px;
  width: 40px;
  background-size: cover;
  background-color: #7367f0;
  border-radius: 50%;
}

.main-menu.menu-dark .navigation .navigation-header span {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.45);
}

.dark-layout .main-menu-content .navigation-main li a {
  color: #fff !important;
}

.dark-layout .main-menu-content .navigation-main li a.btn-outline-primary {
  border: 1px solid #7367f0 !important;
  background-color: transparent !important;
  color: #7367f0 !important;
  text-align: center !important;
}

.dark-layout .main-menu-content .navigation-main .nav-item a.btn-outline-primary i, .dark-layout .main-menu-content .navigation-main .nav-item a.btn-outline-primary svg {
  color: #7367f0 !important;
  margin: 0 auto;
  text-align: center !important;
}

.rs-menu {
  margin: 0 15px 0 10px;
  padding: 10px 15px 10px 15px;
}

.nav-toggle {
  width: 100%;
}
.nav-toggle a {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 100%;
  margin: 0 !important;
  border: none !important;
  padding: 5px !important;
  display: block;
  letter-spacing: 2px;
  color: #7367f0;
  text-transform: uppercase;
}
.nav-toggle a span {
  margin-right: 5px;
}/*# sourceMappingURL=menu.css.map */