.list-share{
  flex-wrap: wrap;
  div{
    margin-bottom: 5px;
  }
  a{
    width: 45px;
    height: 45px;
    display: inline-block;
    line-height: 43px;
    padding: 0 !important;
    font-size: 20px;
  }
}
.name{
  h5{
    text-transform: uppercase;
    text-align: center;
    span{
      color: $rose;
    }
  }
}

.illu{
  text-align: center;
  img{
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  .cov-illu{
    min-height: 200px;
    background-size: cover !important;
  }
}

.single-classement{
  .list-tournois{
    background: rgba(255, 255, 255, 0.05);
    padding: 25px 50px;
    border-radius: 10px;
  }
}