.list-share{
  flex-wrap: wrap;
  div{
    margin-bottom: 5px;
  }
  a{
    width: 45px;
    height: 45px;
    display: inline-block;
    line-height: 43px;
    padding: 0 !important;
    font-size: 20px;
  }
}
.name{
  h5{
    text-transform: uppercase;
    text-align: center;
    span{
      color: $rose;
    }
  }
}

.illu{
  text-align: center;
  img{
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  .cov-illu{
    min-height: 200px;
    background-size: cover !important;
  }
}

.star{
  opacity: 0.4;
  font-size: 20px;
  transition: opacity 0.35s;
  cursor: pointer;
  transform: scale(1);
  display: inline-block;
  &:hover{
    transform: scale(1.2);
  }
  &.active{
    opacity: 1;
  }
  &.activechoice{
    opacity: 1;
  }
}
.startchoicedone{
  font-size: 20px;
  display: none;
  .ico{
    font-size: 20px;
    width: 15px;
  }
}

.contenders_min:not(.rounded){
  .illu{
    img{
      border-radius: 10px;
    }
  }
}

.merci{
  display: none;
  padding: 20px;
  text-align: center;
}