body {
  height: auto !important;
}
.dark-layout .swiper-slide {
  background-color: transparent !important;
}
.dark-layout .card {
  background-color: $c4;
}
.swiper-button-next, .swiper-button-prev{
  width: 40px;
  margin: 0;
  background: transparent;
  top: -26px;
  height: 100%;
  right: 0;
  justify-content: flex-end;
  &:after{
    border-radius: 0;
    background-color: $c3;
    box-shadow: none !important;
    background-size: 24px !important;
    height: 40px !important;
    width: 40px !important;
    padding: 0 !important;
    position: relative;
    right: 0;
  }
}
.swiper-button-prev{
  background: transparent;
  width: 40px;
  justify-content: flex-start;
  left: 0;
}
.swiper-button-disabled{
  display: none;
}
.main-menu.menu-dark .navigation > li > a {
  margin: 0 15px 0 10px;
}
.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu:not(.expanded) .navigation-header {
  margin-left: 1.8rem !important;
}

.demo-inline-spacing {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.header-navbar .navbar-container ul.navbar-nav li.dropdown-cart .media-heading {
  width: auto;
}
.dark-layout .dropdown-menu .dropdown-item:hover, .dark-layout .dropdown-menu .dropdown-item:focus {
  background: transparent;
}

.dark-layout .table {
  background-color: $c4;
}
.dark-layout .table:not(.table-dark):not(.table-light) thead:not(.thead-dark) th, .dark-layout .table:not(.table-dark):not(.table-light) tfoot:not(.thead-dark) th {
  background-color: transparent;
  border: none;
  color: #fff;
}

.vertical-layout.vertical-menu-modern.menu-collapsed .header-navbar.floating-nav {
  width: calc(100vw - (100vw - 100%) - 4.4rem - 74px); }

.vertical-layout.vertical-menu-modern.menu-collapsed .header-navbar.navbar-static-top {
  width: calc(100vw - (100vw - 100%) - 74px);
  left: 74px; }