// Tournoi
.single-tournoi{
  .tournoi-content{
    text-align: center;
    .title-contender{
      color: #fff;
      text-transform: uppercase;
      font-size: 15px;
      margin: 30px 0 0 0;
    }
  }
}
// Stepbar
.stepbar{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 10px;
  background: $rose;
  width: 0;
  transition: all 1s ease-in-out;
  z-index: 999999;
  h5{
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 20px;
    span{
      font-weight: normal;
      font-size: 15px;
      text-transform: lowercase !important;
      color: #333 !important;
    }
  }
  .stepbar-content{
    position: relative;
    span{
      position: absolute;
      right: 0;
      top: -15px;
      color: #f4177f;
      font-size: 12px;
      height: 15px;
    }
  }
}

// Contenders
.cover_contenders{
  text-align: center;
  .cov-illu{
    margin: 0 auto;
    min-height: 440px;
    border-radius: 10px;
    background-size: cover !important;
    margin-bottom: 30px;
  }
}
.rounded{
  .cov-illu, img{
    border-radius: 50%;
    max-width: 100%;
    height: auto;
  }
  .contenders-containers .link-contender .contender_zone{
    img{
      border-radius: 50%;
      max-width: 100%;
      height: auto;
    }
  }
}
.contenders-containers {

  .link-contender {
    max-width: 500px;
    position: relative;
    transition: all 0.2s ease-in;

    &:hover{
      transform: scale(1.03);
    }

    .contender_zone{
      height: 100%;
      width: 100%;
      display: block;

      img{
        border-radius: 10px;
        max-width: 100%;
        height: auto;
      }

    }
  }

  .link-contender_1{
    .contender_zone{
      cursor: url("../../images/vkrz/cursor_l.png"), pointer !important;
    }
  }
  .link-contender_2{
    .contender_zone{
      cursor: url("../../images/vkrz/cursor_r.png"), pointer !important;
    }
  }
}


.min-tournoi{
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 0;
  .cov-illu{
    min-height: 120px;
    border-radius: 5px 5px 0 0;
    position: relative;
    .badge{
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: 2;
    }
    .voile{
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      opacity: 0.2;
      background: rgb(12,10,39);
      background: linear-gradient(200deg, rgba(12,10,39,1) 0%, rgba(12,10,39,0) 100%);
      transition: all .2s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      z-index: 1;
      .spoun{
        display: none;
        text-align: center;
        i{
          font-size: 40px;
          color: #fff;
        }
        h5{
          font-weight: 700;
          text-transform: uppercase;
          color: #fff;
          margin-top: 10px;
          text-align: center;
        }
      }
    }
  }
  &:hover{
    .cov-illu{
      .badge{
        display: none;
      }
      .voile{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.9;
        background: rgb(12,10,39);
        .spoun{
          display: block;
        }
      }
    }
  }
  .card-title{
    margin: 0;
  }
  .card-body {
    padding: 10px;
    p{
      margin-bottom: 5px;
    }
    h4{
      font-size: 15px;
    }
  }
}
.display_battle{
  overflow: hidden;
  padding: 20px 0 40px 0;
  margin-top: -10px;
}
.current_rank{
  .demo-inline-spacing {
    justify-content: center;
    h3 {
      margin: 0;
    }
    .avatar-group {
      margin: 0;
    }
  }
}

.nav-tournament{
  position: fixed;
  bottom: 20px;
  right: 0;
  left: 85px;
  .btn-outline-primary{
    &:hover{
      background: #7367f0 !important;
      color: #fff !important;
    }
  }
}

.share-t{
  a{
    display: inline-block;
    min-width: 40px;
    text-align: center;
  }
}
.share-label{
  display: inline-block;
  color: #7367f0;
}

.content-intro{
  min-height: 60vh;
  display: flex;
  align-items: center;
  .intro{
    width: 750px;
    max-width: 100%;
    margin: 0 auto;
  }
  .card{
    .card-header{
      flex-direction: column;
      .card-title{
        margin-bottom: 20px;
      }
      .card-subtitle{
        font-size: 25px;
      }
    }
    .card-body{
      position: relative;
      padding: 60px 20px;
      .voilebg{
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.15;
      }
      .cta-complet{
        flex-direction: column;
        display: inline-flex;
        small{
          margin-top: 15px;
        }
      }
    }
  }
  .card-infos{
    text-align: right;
    color: rgba(255, 255, 255, 0.6);
    position: relative;
  }
}

