.avatar-picture-max{
  display: block;
  height: 100px;
  width: 100px;
  background-size: cover;
  background-color: $c5;
  border-radius: 50%;
}

.auth-inner{
  .brand-text{
    max-width: 150px;
    margin-right: 10px;
  }
}

.dark-layout body.user-page{
  background: linear-gradient(50deg, $c1, #471867, $c1, $c1);
  background-size: 400% 400%;
  animation: gradient 60s ease infinite;
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.dark-layout .auth-wrapper .auth-bg {
  background-color: transparent;
}

.ur-frontend-form {
  border: none !important;
  padding: 0 !important;
}
.ur-frontend-form .ur-form-row .ur-form-grid {
  padding: 0 5px !important;
}

.ur-frontend-field, .user-registration-Input{
  background: transparent !important;
  border: 2px solid rgba(255, 255, 255, 0.2) !important;
  padding: 20px 15px !important;
  font-size: 15px !important;
  border-radius: 10px !important;
  color: #fff !important;
  transition: all .2s ease-in-out;
  &:valid{
    border: 2px solid #fff !important;
  }
  &:focus{
    border: 2px solid $rose !important;
  }
}

.password-input-group{
  width: 100%;
}

.ur-frontend-form .ur-button-container .ur-submit-button {
  margin-right: auto;
  margin-left: 0 !important;
}
.ur-submit-button{
  width: auto;
  min-height: 50px;
  font-size: 16px;
}
.ur-frontend-form .ur-button-container {
  padding: 0 !important;
}
.ur-frontend-form .ur-form-row .ur-form-grid .ur-field-item {
  margin-bottom: 10px !important;
  max-width: 550px;
}

.ur-frontend-form .ur-form-row .ur-form-grid .ur-field-item div{
  flex-direction: column;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  color: #fff !important;
  -webkit-text-fill-color: #fff !important;
  -webkit-text-size-adjust: 100% !important;
}

.annonce{
  padding: 0 3px;
  font-size: 15px;
}

.gif2, .gif3, .gif4{
  display: none;
}

.bigup{
  h1{
    font-size: 3rem;
  }
}

.alert-account {
  color: #fff !important;
  background: linear-gradient(90deg, rgba(244, 22, 127, 0.11), rgba(244, 22, 127, 0.2));
  background-size: 400% 400%;
  animation: gradient2 10s ease infinite;
  @keyframes gradient2 {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.t-white{
  color: #fff;
}

.scali{
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  transform: scale(1);
  display: inline-block;
  &:hover{
    transform: scale(2);
  }
}

.btn-outline-white{
  border-color: #fff;
  &:hover{
    background: #fff;
  }
}

#user-registration {
  background: transparent !important;
  margin: 0 !important;
  p{
    margin: 0 0 10px 0;
  }
}

.user-registration-Button{
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding: 10px 20px;
  line-height: 1.5;
  text-align: center;
  word-break: break-word;
  white-space: normal;
  border: none;
  cursor: pointer;
  transition: 0.35s all ease-out;
  box-shadow: 0 1px 3px #b5bacf26;
  border-color: #7367f0 !important;
  background-color: #7367f0 !important;
  color: #fff !important;
  width: auto;
  min-height: 50px;
  font-size: 16px;
  font-weight: 500;
  display: block;
  vertical-align: middle;
  user-select: none;
  border-radius: 0.358rem;
  -webkit-appearance: button;
  &:hover{
    box-shadow: 0 8px 25px -8px #7367f0;
  }
}

.user-registration-form{
  max-width: 550px;
}
