.cover{
  background-size: cover !important;
}
.contain{
  background-size: contain !important;
}
.dark-layout{
  body{
    background: $c2;
    font-family: 'Lato', sans-serif !important;
  }
  .main-menu {
    background-color: $c2;
  }
  .main-menu-content .navigation-main {
    background-color: $c2;
  }
  .navbar-dark {
    background: $c4;
    transition: all 0.5s ease-in-out;
  }
}
html .content.app-content {
  padding: calc(2rem + 3.45rem + 1.3rem) 2rem 0;
}
html .content.app-content .content-overlay{
  position: absolute;
  opacity: 0.85;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $c2;
  z-index: 0;
}
.opfull{
  background: #13122f !important;
}
.ico{
  width: 30px;
  display: inline-block;
  img{
    max-width: 22px;
  }
}
.breadcrumbs-top{
  a{
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    position: relative;
    left: 0;
    .ico{
      width: 20px;
      display: inline-block;
    }
    &:hover{
      left: 3px;
      color: #fff;
    }
  }
}
.ico2{
  width: 45px;
  display: inline-block;
}

.card-text{
  font-size: 15px;
}

.scaler{
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  &:hover{
    transform: scale(1.05);
    .voile{
      transform: scale(1.05);
    }
  }
}

.swiper-container{
  padding-top: 15px;
}

html .content {
  min-height: 100%;
}

.heading-cat{
  a{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: block;
    position: relative;
    left: 0;
    &:hover{
      left: 10px;
    }
  }
}

.t-titre-tournoi{
  font-size: 18px;
  color: #fff !important;
}
.t-question{
  color: $rose !important;
  font-size: 22px;
}

.lele2{
  width: 0;
  animation-name: appear2;
  overflow: hidden;
  animation: appear2 3s infinite ease-in-out;
}


@keyframes appear2 {
  20%, 100% {
    width: 0;
  }
  0% {
    width: 0;
  }
  5% {
    width: auto;
  }
}

.lele1{
  width: auto;
  overflow: hidden;
  animation: appear 3s infinite ease-in-out;
}


@keyframes appear {
  20%, 100% {
    width: auto;
  }
  0% {
    width: auto;
  }
  5% {
    width: 0;
  }
}

.ico-size-2{
  font-size: 20px;
}