@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
.text-rose {
  color: #f4167f !important; }

.big-cat .heading-cat h2 {
  font-weight: 900;
  letter-spacing: 2px;
  margin: 20px 0 5px; }

.dark-layout .swiper-slide {
  background-color: transparent !important; }

.dark-layout .card {
  background-color: rgba(97, 84, 167, 0.1); }

.swiper-button-next, .swiper-button-prev {
  width: 100px;
  background: #0a0921;
  background: linear-gradient(90deg, rgba(10, 9, 33, 0) 26%, #0a0921 66%);
  top: 0;
  height: 100%;
  right: 0;
  justify-content: flex-end; }
  .swiper-button-next:after, .swiper-button-prev:after {
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11) !important;
    background-size: 24px !important;
    height: 40px !important;
    width: 40px !important; }

.swiper-button-prev {
  background: transparent;
  width: 40px;
  justify-content: flex-start; }

.swiper-button-disabled {
  display: none; }

.cover {
  background-size: cover !important; }

.contain {
  background-size: contain !important; }

.dark-layout body {
  background: #0a0921;
  font-family: 'Lato', sans-serif !important; }
.dark-layout .main-menu {
  background-color: #0a0921; }
.dark-layout .main-menu-content .navigation-main {
  background-color: #0a0921; }
.dark-layout .navbar-dark {
  background: rgba(97, 84, 167, 0.1); }

html .content.app-content {
  padding: calc(2rem + 3.45rem + 1.3rem) 2rem 0; }

html .content.app-content .content-overlay {
  position: absolute;
  opacity: 0.85;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0a0921;
  z-index: 0; }

.dark-layout .header-navbar-shadow {
  background: linear-gradient(180deg, #0a0922 44%, #0c0a27 73%, #0c0a27); }

.ico {
  width: 30px;
  display: inline-block; }
  .ico img {
    max-width: 22px; }

.breadcrumbs-top a {
  color: #fff;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  position: relative;
  left: 0; }
  .breadcrumbs-top a .ico {
    width: 20px;
    display: inline-block; }
  .breadcrumbs-top a:hover {
    left: 3px;
    color: #fff; }

.ico2 {
  width: 45px;
  display: inline-block; }

.card-text {
  font-size: 15px; }

.scaler {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .scaler:hover {
    transform: scale(1.05); }

.swiper-container {
  padding-top: 15px; }

html .content {
  min-height: 100%; }

.main-menu {
  border-right: 10px solid #14122f; }
  .main-menu .navbar-header {
    height: auto; }
    .main-menu .navbar-header .navbar-brand {
      position: relative; }
    .main-menu .navbar-header .badge-beta {
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%; }
      .main-menu .navbar-header .badge-beta .badge {
        background: #f4167f !important;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase; }

.menu-collapsed .brand-text {
  display: block !important; }
  .menu-collapsed .brand-text img {
    max-width: 70px;
    height: auto;
    position: relative;
    right: 30px; }
.menu-collapsed .badge-beta {
  display: none; }
.menu-collapsed .expanded img {
  max-width: 100%;
  height: auto;
  position: inherit;
  right: unset; }

.bookmark-wrapper h4 {
  font-size: 12px;
  margin-left: 10px; }

.single-tournoi .tournoi-content {
  text-align: center; }
  .single-tournoi .tournoi-content .title-contender {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    margin: 30px 0 0 0; }

.stepbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 10px;
  background: #f4167f;
  width: 0;
  transition: all 1s ease-in-out;
  z-index: 999999; }
  .stepbar h5 {
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 20px; }
    .stepbar h5 span {
      font-weight: normal;
      font-size: 15px;
      text-transform: lowercase !important;
      color: #333 !important; }

.cover_contenders {
  text-align: center; }
  .cover_contenders .cov-illu {
    margin: 0 auto;
    min-height: 440px;
    border-radius: 10px;
    background-size: cover !important;
    margin-bottom: 30px;
    box-shadow: 0 0 50px rgba(232, 232, 231, 0.5); }

.rounded .cov-illu, .rounded img {
  border-radius: 50%; }

.contenders-containers {
  min-height: 500px; }
  .contenders-containers .link-contender {
    max-width: 500px;
    position: relative;
    transition: all 0.2s ease-in; }
    .contenders-containers .link-contender:hover {
      transform: scale(1.1); }
    .contenders-containers .link-contender .contender_zone {
      cursor: url("../../images/vkrz/cursor.png"), pointer !important;
      height: 100%;
      width: 100%;
      display: block; }

.min-tournoi {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 0; }
  .min-tournoi .cov-illu {
    min-height: 120px;
    border-radius: 5px 5px 0 0;
    position: relative; }
    .min-tournoi .cov-illu .badge {
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: 99; }
    .min-tournoi .cov-illu .voile {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      opacity: 0.2;
      background: #0c0a27;
      background: linear-gradient(200deg, #0c0a27 0%, rgba(12, 10, 39, 0) 100%);
      transition: all .2s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .min-tournoi .cov-illu .voile .spoun {
        display: none;
        text-align: center; }
        .min-tournoi .cov-illu .voile .spoun i {
          font-size: 40px;
          color: #fff; }
        .min-tournoi .cov-illu .voile .spoun h5 {
          font-weight: 700;
          text-transform: uppercase;
          color: #fff;
          margin-top: 10px;
          text-align: center; }
  .min-tournoi:hover .cov-illu .badge {
    display: none; }
  .min-tournoi:hover .cov-illu .voile {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.9;
    background: #0c0a27; }
    .min-tournoi:hover .cov-illu .voile .spoun {
      display: block; }
  .min-tournoi .card-title {
    margin: 0; }
  .min-tournoi .card-body {
    padding: 10px; }
    .min-tournoi .card-body p {
      margin-bottom: 5px; }
    .min-tournoi .card-body h4 {
      font-size: 15px; }

.current_rank .demo-inline-spacing {
  justify-content: center; }
  .current_rank .demo-inline-spacing h3 {
    margin: 0 20px 0 0; }
  .current_rank .demo-inline-spacing .avatar-group {
    margin: 0; }

.list-share a {
  width: 45px;
  height: 45px;
  display: inline-block;
  line-height: 43px;
  padding: 0 !important;
  font-size: 20px; }

.name h5 {
  text-transform: uppercase;
  text-align: center; }
  .name h5 span {
    color: #f4167f; }

/*# sourceMappingURL=main.css.map */
