@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
.text-rose {
  color: #f4167f !important; }

.big-cat .heading-cat h2 {
  font-weight: 900;
  letter-spacing: 2px;
  margin: 20px 0 5px; }

.dark-layout .swiper-slide {
  background-color: transparent !important; }

.dark-layout .card {
  background-color: rgba(97, 84, 167, 0.1); }

.swiper-button-next, .swiper-button-prev {
  width: 50px;
  background: #0a0921;
  background: linear-gradient(90deg, rgba(10, 9, 33, 0) 10%, #0a0921 40%);
  top: 0;
  height: 100%;
  right: -2px;
  justify-content: flex-end; }
  .swiper-button-next:after, .swiper-button-prev:after {
    border-radius: 50%;
    background-color: #0c0a27;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11) !important;
    background-size: 24px !important;
    height: 40px !important;
    width: 40px !important;
    padding: 0 !important;
    position: relative;
    right: 5px; }

.swiper-button-prev {
  background: transparent;
  width: 40px;
  justify-content: flex-start;
  left: 5px; }

.swiper-button-disabled {
  display: none; }

.main-menu.menu-dark .navigation > li > a {
  margin: 0 15px 0 10px; }

.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu:not(.expanded) .navigation-header {
  margin-left: 1.8rem !important; }

.demo-inline-spacing {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }

.header-navbar .navbar-container ul.navbar-nav li.dropdown-cart .media-heading {
  width: auto; }

.dark-layout .dropdown-menu .dropdown-item:hover, .dark-layout .dropdown-menu .dropdown-item:focus {
  background: transparent; }

.dark-layout .table {
  background-color: rgba(97, 84, 167, 0.1); }

.dark-layout .table:not(.table-dark):not(.table-light) thead:not(.thead-dark) th, .dark-layout .table:not(.table-dark):not(.table-light) tfoot:not(.thead-dark) th {
  background-color: transparent;
  border: none;
  color: #fff; }

.cover {
  background-size: cover !important; }

.contain {
  background-size: contain !important; }

.dark-layout body {
  background: #0a0921;
  font-family: 'Lato', sans-serif !important; }
.dark-layout .main-menu {
  background-color: #0a0921; }
.dark-layout .main-menu-content .navigation-main {
  background-color: #0a0921; }
.dark-layout .navbar-dark {
  background: rgba(97, 84, 167, 0.1);
  transition: all 0.5s ease-in-out; }

html .content.app-content {
  padding: calc(2rem + 3.45rem + 1.3rem) 2rem 0; }

html .content.app-content .content-overlay {
  position: absolute;
  opacity: 0.85;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0a0921;
  z-index: 0; }

.opfull {
  background: #13122f !important; }

.ico {
  width: 30px;
  display: inline-block; }
  .ico img {
    max-width: 22px; }

.ico3 {
  width: 20px;
  display: inline-block; }

.ico4 {
  font-size: 30px; }

.breadcrumbs-top a {
  color: #fff;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  position: relative;
  left: 0; }
  .breadcrumbs-top a .ico {
    width: 20px;
    display: inline-block; }
  .breadcrumbs-top a:hover {
    left: 3px;
    color: #fff; }

.ico2 {
  width: 45px;
  display: inline-block; }

.card-text {
  font-size: 15px; }

.scaler {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .scaler:hover {
    transform: scale(1.05); }
    .scaler:hover .voile {
      transform: scale(1.05); }

.swiper-container {
  padding-top: 15px; }

html .content {
  min-height: 100%; }

.heading-cat a {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: block;
  position: relative;
  left: 0; }
  .heading-cat a:hover {
    left: 10px; }

.t-titre-tournoi {
  font-size: 18px;
  color: #fff !important; }

.t-question {
  color: #f4167f !important;
  font-size: 22px; }

.lele2 {
  width: 0;
  animation-name: appear2;
  overflow: hidden;
  animation: appear2 3s infinite ease-in-out; }

@keyframes appear2 {
  20%, 100% {
    width: 0; }
  0% {
    width: 0; }
  5% {
    width: auto; } }
.lele1 {
  width: auto;
  overflow: hidden;
  animation: appear 3s infinite ease-in-out; }

@keyframes appear {
  20%, 100% {
    width: auto; }
  0% {
    width: auto; }
  5% {
    width: 0; } }
.ico-size-2 {
  font-size: 20px; }

.icomax {
  font-size: 60px; }

.legende {
  color: rgba(255, 255, 255, 0.5); }

.main-menu {
  border-right: 10px solid #14122f; }
  .main-menu .navbar-header {
    height: auto; }
    .main-menu .navbar-header .navbar-brand {
      position: relative; }
    .main-menu .navbar-header .badge-beta {
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%; }
      .main-menu .navbar-header .badge-beta .badge {
        background: #f4167f !important;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase; }

.menu-collapsed .brand-text {
  display: block !important; }
  .menu-collapsed .brand-text img {
    max-width: 60px;
    height: auto;
    position: relative;
    right: 30px; }
.menu-collapsed .badge-beta {
  display: none; }
.menu-collapsed .expanded img {
  max-width: 100%;
  height: auto;
  position: inherit;
  right: unset; }

.bookmark-wrapper h4 {
  font-size: 12px;
  margin-top: 5px; }

.home .bookmark-wrapper h4 {
  margin-left: 10px; }

.min-t-thumb {
  width: 60px;
  margin-right: 10px; }

.value-user-stats {
  font-size: 1.07rem;
  font-weight: 500;
  line-height: 1.2; }

.user-niveau {
  width: 11px;
  height: 11px;
  position: absolute;
  right: 0;
  bottom: 0; }

.avatar .avatar-picture {
  display: block;
  height: 40px;
  width: 40px;
  background-size: cover;
  background-color: #5e50a6;
  border-radius: 50%; }

.single-tournoi .tournoi-content {
  text-align: center; }
  .single-tournoi .tournoi-content .title-contender {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    margin: 30px 0 0 0; }

.stepbar {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 10px;
  background: #f4167f;
  width: 0;
  transition: all 1s ease-in-out;
  z-index: 999999; }
  .stepbar h5 {
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 20px; }
    .stepbar h5 span {
      font-weight: normal;
      font-size: 15px;
      text-transform: lowercase !important;
      color: #333 !important; }
  .stepbar .stepbar-content {
    position: relative; }
    .stepbar .stepbar-content span {
      position: absolute;
      right: 0;
      top: -15px;
      color: #f4177f;
      font-size: 12px;
      height: 15px; }

.cover_contenders {
  text-align: center; }
  .cover_contenders .cov-illu {
    margin: 0 auto;
    min-height: 440px;
    border-radius: 10px;
    background-size: cover !important;
    margin-bottom: 30px; }

.rounded .cov-illu, .rounded img {
  border-radius: 50%; }

.contenders-containers {
  min-height: 500px; }
  .contenders-containers .link-contender {
    max-width: 500px;
    position: relative;
    transition: all 0.2s ease-in; }
    .contenders-containers .link-contender:hover {
      transform: scale(1.03); }
    .contenders-containers .link-contender .contender_zone {
      height: 100%;
      width: 100%;
      display: block; }
      .contenders-containers .link-contender .contender_zone img {
        border-radius: 10px; }
  .contenders-containers .link-contender_1 .contender_zone {
    cursor: url("../../images/vkrz/cursor_l.png"), pointer !important; }
  .contenders-containers .link-contender_2 .contender_zone {
    cursor: url("../../images/vkrz/cursor_r.png"), pointer !important; }

.min-tournoi {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 0; }
  .min-tournoi .cov-illu {
    min-height: 120px;
    border-radius: 5px 5px 0 0;
    position: relative; }
    .min-tournoi .cov-illu .badge {
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: 2; }
    .min-tournoi .cov-illu .voile {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      opacity: 0.2;
      background: #0c0a27;
      background: linear-gradient(200deg, #0c0a27 0%, rgba(12, 10, 39, 0) 100%);
      transition: all .2s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .min-tournoi .cov-illu .voile .spoun {
        display: none;
        text-align: center; }
        .min-tournoi .cov-illu .voile .spoun i {
          font-size: 40px;
          color: #fff; }
        .min-tournoi .cov-illu .voile .spoun h5 {
          font-weight: 700;
          text-transform: uppercase;
          color: #fff;
          margin-top: 10px;
          text-align: center; }
  .min-tournoi:hover .cov-illu .badge {
    display: none; }
  .min-tournoi:hover .cov-illu .voile {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.9;
    background: #0c0a27; }
    .min-tournoi:hover .cov-illu .voile .spoun {
      display: block; }
  .min-tournoi .card-title {
    margin: 0; }
  .min-tournoi .card-body {
    padding: 10px; }
    .min-tournoi .card-body p {
      margin-bottom: 5px; }
    .min-tournoi .card-body h4 {
      font-size: 15px; }

.current_rank .demo-inline-spacing {
  justify-content: center; }
  .current_rank .demo-inline-spacing h3 {
    margin: 0; }
  .current_rank .demo-inline-spacing .avatar-group {
    margin: 0; }

.list-share {
  flex-wrap: wrap; }
  .list-share div {
    margin-bottom: 5px; }
  .list-share a {
    width: 45px;
    height: 45px;
    display: inline-block;
    line-height: 43px;
    padding: 0 !important;
    font-size: 20px; }

.name h5 {
  text-transform: uppercase;
  text-align: center; }
  .name h5 span {
    color: #f4167f; }

.illu {
  text-align: center; }
  .illu img {
    margin: 0 auto; }

.avatar-picture-max {
  display: block;
  height: 100px;
  width: 100px;
  background-size: cover;
  background-color: #5e50a6;
  border-radius: 50%; }

@media (min-width: 1200px) {
  .col-xxl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; } }
@media (max-width: 576px) {
  html body .app-content {
    padding: calc(2rem - 0.8rem + 7.45rem + 1.3rem) calc(2rem - 0.8rem) 0 calc(2rem - 0.8rem) !important; }

  .bookmark-wrapper {
    flex-wrap: wrap; }
    .bookmark-wrapper h4 {
      flex-basis: 100%;
      margin-top: 5px;
      font-size: 13px; }

  .min-tournoi .cov-illu .badge {
    position: absolute;
    left: 5px;
    right: auto;
    top: 5px;
    z-index: 99; }

  .logo {
    max-width: 90px !important;
    transition: all 0.3s ease-in-out; }

  .opfull .logo {
    max-width: 60px !important; }
  .opfull h3, .opfull h4 {
    display: none; }
  .opfull .navbar-container {
    flex-wrap: wrap;
    justify-content: end !important; }

  .cat-min .card-header {
    text-align: center;
    flex-direction: column;
    padding: 20px 10px 12px 10px; }
    .cat-min .card-header .ico2 {
      display: block;
      margin: 0 auto 10px; }

  .heading-cat small {
    display: block;
    margin: 5px 0 0 0; } }

/*# sourceMappingURL=main.css.map */
