.list-share{
  a{
    width: 45px;
    height: 45px;
    display: inline-block;
    line-height: 43px;
    padding: 0 !important;
    font-size: 20px;
  }
}
.name{
  h5{
    text-transform: uppercase;
    text-align: center;
    span{
      color: $rose;
    }
  }
}