.dark-layout .swiper-slide {
  background-color: transparent !important;
}
.dark-layout .card {
  background-color: $c4;
}
.swiper-button-next, .swiper-button-prev{
  width: 50px;
  background: rgb(10,9,33);
  background: linear-gradient(90deg, rgba(10,9,33,0) 10%, rgba(10,9,33,1) 40%);
  top: 0;
  height: 100%;
  right: -2px;
  justify-content: flex-end;
  &:after{
    border-radius: 50%;
    background-color: $c1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11) !important;
    background-size: 24px !important;
    height: 40px !important;
    width: 40px !important;
    padding: 0 !important;
    position: relative;
    right: 5px;
  }
}
.swiper-button-prev{
  background: transparent;
  width: 40px;
  justify-content: flex-start;
  left: 5px;
}
.swiper-button-disabled{
  display: none;
}
.main-menu.menu-dark .navigation > li > a {
  margin: 0 15px 0 10px;
}
.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu:not(.expanded) .navigation-header {
  margin-left: 1.8rem !important;
}

.demo-inline-spacing {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.header-navbar .navbar-container ul.navbar-nav li.dropdown-cart .media-heading {
  width: auto;
}