.parrainage-card {
  .card-header {

    .card-title {
      color: #fff;
      font-weight: 600;
      font-size: 2.5rem;
      margin: 0;
      text-align: center;
    }
  }

  .card-body {
    .btn {
      width: 100%;
    }
  }
}