$marron : #68441e;
$bleu: #105079;
$cyan: #77efe6;
$jaune: #FCE894;

@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

.dark-layout .header-navbar .navbar-container .nav .nav-item .nav-link i,
.dark-layout .header-navbar .navbar-container .nav .nav-item .nav-link svg {
    color: $marron !important;
}

.breadcrumb:not([class*=breadcrumb-]) .breadcrumb-item+.breadcrumb-item:before {
    content: '>';
    background: transparent !important;
    color: $marron;
}

.tournament-heading h4 {
    color: $bleu !important;
}

html {

    .card-developer-meetup .meetup-img-wrapper .badge {
        background: $bleu;
    }

    .badge-light-rose {
        background: #5ebfd5 !important;
    }

    .t-titre-tournoi,
    .breadcrumb .breadcrumb-item,
    .breadcrumbs-top a,
    .dark-layout .breadcrumb .breadcrumb-item+.breadcrumb-item::before,
    .header-navbar .navbar-container .nav .nav-item .nav-link {
        color: $marron !important;
    }

    .intro-mobile {
        background: url('../img/beige.jpg') center center !important;
        border: 2px solid $marron;
    }

    .header-navbar {
        background: url('../img/menu.png') center center repeat-x !important;
        border: 3px solid $marron;
        background-size: cover !important;
    }

    .tournament-heading:after {
        border-top: 2px solid $cyan;
    }

    .choosecta {
        .laucher_t {
            &:active {
                font-size: 8px;
            }
        }
    }

    .content.app-content {
        font-family: 'Zen Antique Soft', serif;

        .btn-outline-primary {
            border: 1px solid $bleu !important;
            background-color: transparent;
            color: $bleu;
            text-transform: uppercase;

            &:hover {
                background-color: $bleu;
                color: #fff;
            }
        }

        .share-text {
            color: $marron !important;
        }

        .t-rose {
            color: $bleu !important;
            font-weight: bold;
        }

        .c-jaune {
            color: $jaune;
            text-shadow: 0 0 2px #000;
        }

        .content-overlay {
            position: absolute;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #6e6361;
            z-index: 0;
        }

        .card-developer-meetup {
            background: url('../img/beige.jpg') center center !important;
            background-size: contain !important;
            color: $marron;

            .card-title {
                font-size: 22px;
                line-height: 28px;
                color: $marron;
            }

            .rules-content {
                padding: 0;

                .title-win {
                    background: url(../img/bleu.png) center top !important;
                    background-size: cover !important;
                    border-radius: 0;
                    padding: 20px 10px;

                    h4 {
                        text-shadow: 0 0 2px $jaune, 0 0 3px #000;
                        letter-spacing: -1px;
                        font-size: 18px;
                    }
                }

                .text-rules {
                    padding: 0px 15px;

                    img {
                        width: 100%;
                        height: auto;
                        border: 2px solid #000;
                        margin-bottom: 10px;
                    }

                    strong {
                        color: $bleu;

                        a {
                            color: $bleu !important;
                            border-bottom: 2px solid;
                        }
                    }
                }
            }

            .share-content-sponso {
                padding: 15px 20px 3px 20px !important;

                .reseaux-sponso {
                    flex-direction: column;

                    .logo-vkrz-sponso {
                        width: 100% !important;
                    }

                    .social-media-sponso {
                        width: 100% !important;

                        .buttons-social-media {
                            flex-direction: row !important;

                            a:last-child {
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }

            .btn-primary {
                border: none !important;
                background-color: transparent !important;
                background: url('../img/btn1.png') center center no-repeat;
                color: #fff !important;
                background-size: contain;
                transition: all 0.2s ease-in;
                box-shadow: none;

                &:hover {
                    background: url('../img/btn2.png') center center no-repeat;
                    background-size: contain;
                    box-shadow: none;
                }

                @media (max-width: 768px) {

                    border: none !important;
                    background-color: transparent !important;
                    background: url('../img/btn1-m.png') center center no-repeat;
                    color: #fff !important;
                    background-size: 100%;
                    transition: all 0.2s ease-in;
                    box-shadow: none;
                    font-size: 19px;
                    padding: 13px 10px;

                    &:hover {
                        background: url('../img/btn2-m.png') center center no-repeat;
                        background-size: contain;
                        box-shadow: none;
                    }
                }
            }

            .content-body {
                h4 {
                    color: $marron;
                }
            }
        }
    }

    .icons-navbar {
        background: $bleu;
    }

    .title-contender,
    .name h5 {
        background: rgb(18, 80, 121);
        background: radial-gradient(circle, rgba(18, 80, 121, 1) 0%, rgba(24, 115, 175, 1) 100%);
        color: #fff;
        text-transform: uppercase;
        font-size: 13px;
        margin: 0 !important;
        padding: 5px;
        border: 2px solid #b59100;

        span {
            color: #b59100;
        }
    }
}

@media (max-width: 768px) {
    .mobile-navbar .icons-navbar {
        background: $bleu;
    }

    .single-tournoi .tournoi-content .contenders-containers .versus:before {
        background-color: $cyan;
    }
}

.stepbar {
    background: $cyan;

    .stepbar-content span {
        color: $cyan;
    }
}

.participation-content-sponso {
    background: transparent;

    .info-win {
        strong {
            color: $cyan;

            a {
                color: $cyan !important;
                border-bottom: 2px solid;
            }
        }
    }
}

.stats-mondiales {
    color: $marron !important;
}

.share-content-sponso {
    padding: 15px 20px 3px 20px !important;

    .text-left {
        img {
            border: 2px solid #000;
        }
    }

    .logo-vkrz-sponso {
        width: 100% !important;
    }

    .social-media-sponso {
        width: 100% !important;

        .buttons-social-media {
            flex-direction: row !important;

            a:last-child {
                margin-bottom: 10px;
            }
        }
    }
}

.single-classement,
.page-template-elo-mondial {
    .content.app-content .content-overlay {
        opacity: 0.85 !important;
        background-color: #6e6361;
    }

    .card {
        background: url('../img/beige.jpg') center center !important;
        background-size: contain !important;
        color: $marron;

        .card-body h2 {
            color: $marron;
        }
    }

    .share-content-sponso {
        padding: 15px 20px 3px 20px !important;

        .reseaux-sponso {
            flex-direction: column;

            .logo-vkrz-sponso {
                width: 100% !important;
            }

            .social-media-sponso {
                width: 100% !important;

                .buttons-social-media {
                    flex-direction: row !important;

                    a:last-child {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    .bravo {
        border: 5px solid #77efe6;
    }

    #form-coupon {
        input[type=email] {
            border: 2px solid $cyan;

            &::placeholder {
                color: #fff;
            }
        }

        #btn-coupon {
            background: $cyan;
            color: $bleu;
        }
    }

    .stats-mondiales b {
        color: $marron;
        font-weight: normal;
    }

    .card {
        .btn-primary {
            border-color: $marron !important;
            background-color: $marron !important;
            color: #fff !important;
        }
    }

    .participation-content-sponso h1 {
        font-family: 'Zen Antique Soft', serif;
        font-weight: 900;
        font-style: normal !important;
        font-size: 38.89px;
        line-height: 44.39px;
        text-transform: uppercase;
        color: #ffffff;
        text-shadow: 2px 2px 0px $marron;

        @media (max-width: 768px) {
            font-size: 22px;
            line-height: 28px;
        }
    }
}

.tournament-heading {

    h3,
    h4 {
        font-family: 'Zen Antique Soft', serif;
    }
}

.logo-vkrz-sponso .btn-outline-primary {
    padding: 0;
    display: inline-block;
    width: 50px !important;
    height: 50px;
    line-height: 50px;
    margin: 0 0 0 5px;
    font-size: 11px;
}