@import url("https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap");
.dark-layout .header-navbar .navbar-container .nav .nav-item .nav-link i,
.dark-layout .header-navbar .navbar-container .nav .nav-item .nav-link svg {
  color: #68441e !important;
}

.breadcrumb:not([class*=breadcrumb-]) .breadcrumb-item + .breadcrumb-item:before {
  content: ">";
  background: transparent !important;
  color: #68441e;
}

.tournament-heading h4 {
  color: #105079 !important;
}

html .card-developer-meetup .meetup-img-wrapper .badge {
  background: #105079;
}
html .badge-light-rose {
  background: #5ebfd5 !important;
}
html .t-titre-tournoi,
html .breadcrumb .breadcrumb-item,
html .breadcrumbs-top a,
html .dark-layout .breadcrumb .breadcrumb-item + .breadcrumb-item::before,
html .header-navbar .navbar-container .nav .nav-item .nav-link {
  color: #68441e !important;
}
html .intro-mobile {
  background: url("../img/beige.jpg") center center !important;
  border: 2px solid #68441e;
}
html .header-navbar {
  background: url("../img/menu.png") center center repeat-x !important;
  border: 3px solid #68441e;
  background-size: cover !important;
}
html .tournament-heading:after {
  border-top: 2px solid #77efe6;
}
html .choosecta .laucher_t:active {
  font-size: 8px;
}
html .content.app-content {
  font-family: "Zen Antique Soft", serif;
}
html .content.app-content .btn-outline-primary {
  border: 1px solid #105079 !important;
  background-color: transparent;
  color: #105079;
  text-transform: uppercase;
}
html .content.app-content .btn-outline-primary:hover {
  background-color: #105079;
  color: #fff;
}
html .content.app-content .share-text {
  color: #68441e !important;
}
html .content.app-content .t-rose {
  color: #105079 !important;
  font-weight: bold;
}
html .content.app-content .c-jaune {
  color: #FCE894;
  text-shadow: 0 0 2px #000;
}
html .content.app-content .content-overlay {
  position: absolute;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6e6361;
  z-index: 0;
}
html .content.app-content .card-developer-meetup {
  background: url("../img/beige.jpg") center center !important;
  background-size: contain !important;
  color: #68441e;
}
html .content.app-content .card-developer-meetup .card-title {
  font-size: 22px;
  line-height: 28px;
  color: #68441e;
}
html .content.app-content .card-developer-meetup .rules-content {
  padding: 0;
}
html .content.app-content .card-developer-meetup .rules-content .title-win {
  background: url(../img/bleu.png) center top !important;
  background-size: cover !important;
  border-radius: 0;
  padding: 20px 10px;
}
html .content.app-content .card-developer-meetup .rules-content .title-win h4 {
  text-shadow: 0 0 2px #FCE894, 0 0 3px #000;
  letter-spacing: -1px;
  font-size: 18px;
}
html .content.app-content .card-developer-meetup .rules-content .text-rules {
  padding: 0px 15px;
}
html .content.app-content .card-developer-meetup .rules-content .text-rules img {
  width: 100%;
  height: auto;
  border: 2px solid #000;
  margin-bottom: 10px;
}
html .content.app-content .card-developer-meetup .rules-content .text-rules strong {
  color: #105079;
}
html .content.app-content .card-developer-meetup .rules-content .text-rules strong a {
  color: #105079 !important;
  border-bottom: 2px solid;
}
html .content.app-content .card-developer-meetup .share-content-sponso {
  padding: 15px 20px 3px 20px !important;
}
html .content.app-content .card-developer-meetup .share-content-sponso .reseaux-sponso {
  flex-direction: column;
}
html .content.app-content .card-developer-meetup .share-content-sponso .reseaux-sponso .logo-vkrz-sponso {
  width: 100% !important;
}
html .content.app-content .card-developer-meetup .share-content-sponso .reseaux-sponso .social-media-sponso {
  width: 100% !important;
}
html .content.app-content .card-developer-meetup .share-content-sponso .reseaux-sponso .social-media-sponso .buttons-social-media {
  flex-direction: row !important;
}
html .content.app-content .card-developer-meetup .share-content-sponso .reseaux-sponso .social-media-sponso .buttons-social-media a:last-child {
  margin-bottom: 10px;
}
html .content.app-content .card-developer-meetup .btn-primary {
  border: none !important;
  background-color: transparent !important;
  background: url("../img/btn1.png") center center no-repeat;
  color: #fff !important;
  background-size: contain;
  transition: all 0.2s ease-in;
  box-shadow: none;
}
html .content.app-content .card-developer-meetup .btn-primary:hover {
  background: url("../img/btn2.png") center center no-repeat;
  background-size: contain;
  box-shadow: none;
}
@media (max-width: 768px) {
  html .content.app-content .card-developer-meetup .btn-primary {
    border: none !important;
    background-color: transparent !important;
    background: url("../img/btn1-m.png") center center no-repeat;
    color: #fff !important;
    background-size: 100%;
    transition: all 0.2s ease-in;
    box-shadow: none;
    font-size: 19px;
    padding: 13px 10px;
  }
  html .content.app-content .card-developer-meetup .btn-primary:hover {
    background: url("../img/btn2-m.png") center center no-repeat;
    background-size: contain;
    box-shadow: none;
  }
}
html .content.app-content .card-developer-meetup .content-body h4 {
  color: #68441e;
}
html .icons-navbar {
  background: #105079;
}
html .title-contender,
html .name h5 {
  background: #125079;
  background: radial-gradient(circle, #125079 0%, #1873af 100%);
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  margin: 0 !important;
  padding: 5px;
  border: 2px solid #b59100;
}
html .title-contender span,
html .name h5 span {
  color: #b59100;
}

@media (max-width: 768px) {
  .mobile-navbar .icons-navbar {
    background: #105079;
  }

  .single-tournoi .tournoi-content .contenders-containers .versus:before {
    background-color: #77efe6;
  }
}
.stepbar {
  background: #77efe6;
}
.stepbar .stepbar-content span {
  color: #77efe6;
}

.participation-content-sponso {
  background: transparent;
}
.participation-content-sponso .info-win strong {
  color: #77efe6;
}
.participation-content-sponso .info-win strong a {
  color: #77efe6 !important;
  border-bottom: 2px solid;
}

.stats-mondiales {
  color: #68441e !important;
}

.share-content-sponso {
  padding: 15px 20px 3px 20px !important;
}
.share-content-sponso .text-left img {
  border: 2px solid #000;
}
.share-content-sponso .logo-vkrz-sponso {
  width: 100% !important;
}
.share-content-sponso .social-media-sponso {
  width: 100% !important;
}
.share-content-sponso .social-media-sponso .buttons-social-media {
  flex-direction: row !important;
}
.share-content-sponso .social-media-sponso .buttons-social-media a:last-child {
  margin-bottom: 10px;
}

.single-classement .content.app-content .content-overlay,
.page-template-elo-mondial .content.app-content .content-overlay {
  opacity: 0.85 !important;
  background-color: #6e6361;
}
.single-classement .card,
.page-template-elo-mondial .card {
  background: url("../img/beige.jpg") center center !important;
  background-size: contain !important;
  color: #68441e;
}
.single-classement .card .card-body h2,
.page-template-elo-mondial .card .card-body h2 {
  color: #68441e;
}
.single-classement .share-content-sponso,
.page-template-elo-mondial .share-content-sponso {
  padding: 15px 20px 3px 20px !important;
}
.single-classement .share-content-sponso .reseaux-sponso,
.page-template-elo-mondial .share-content-sponso .reseaux-sponso {
  flex-direction: column;
}
.single-classement .share-content-sponso .reseaux-sponso .logo-vkrz-sponso,
.page-template-elo-mondial .share-content-sponso .reseaux-sponso .logo-vkrz-sponso {
  width: 100% !important;
}
.single-classement .share-content-sponso .reseaux-sponso .social-media-sponso,
.page-template-elo-mondial .share-content-sponso .reseaux-sponso .social-media-sponso {
  width: 100% !important;
}
.single-classement .share-content-sponso .reseaux-sponso .social-media-sponso .buttons-social-media,
.page-template-elo-mondial .share-content-sponso .reseaux-sponso .social-media-sponso .buttons-social-media {
  flex-direction: row !important;
}
.single-classement .share-content-sponso .reseaux-sponso .social-media-sponso .buttons-social-media a:last-child,
.page-template-elo-mondial .share-content-sponso .reseaux-sponso .social-media-sponso .buttons-social-media a:last-child {
  margin-bottom: 10px;
}
.single-classement .bravo,
.page-template-elo-mondial .bravo {
  border: 5px solid #77efe6;
}
.single-classement #form-coupon input[type=email],
.page-template-elo-mondial #form-coupon input[type=email] {
  border: 2px solid #77efe6;
}
.single-classement #form-coupon input[type=email]::-moz-placeholder, .page-template-elo-mondial #form-coupon input[type=email]::-moz-placeholder {
  color: #fff;
}
.single-classement #form-coupon input[type=email]:-ms-input-placeholder, .page-template-elo-mondial #form-coupon input[type=email]:-ms-input-placeholder {
  color: #fff;
}
.single-classement #form-coupon input[type=email]::placeholder,
.page-template-elo-mondial #form-coupon input[type=email]::placeholder {
  color: #fff;
}
.single-classement #form-coupon #btn-coupon,
.page-template-elo-mondial #form-coupon #btn-coupon {
  background: #77efe6;
  color: #105079;
}
.single-classement .stats-mondiales b,
.page-template-elo-mondial .stats-mondiales b {
  color: #68441e;
  font-weight: normal;
}
.single-classement .card .btn-primary,
.page-template-elo-mondial .card .btn-primary {
  border-color: #68441e !important;
  background-color: #68441e !important;
  color: #fff !important;
}
.single-classement .participation-content-sponso h1,
.page-template-elo-mondial .participation-content-sponso h1 {
  font-family: "Zen Antique Soft", serif;
  font-weight: 900;
  font-style: normal !important;
  font-size: 38.89px;
  line-height: 44.39px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 2px 2px 0px #68441e;
}
@media (max-width: 768px) {
  .single-classement .participation-content-sponso h1,
.page-template-elo-mondial .participation-content-sponso h1 {
    font-size: 22px;
    line-height: 28px;
  }
}

.tournament-heading h3,
.tournament-heading h4 {
  font-family: "Zen Antique Soft", serif;
}

html .content.app-content .logo-vkrz-sponso .btn-outline-primary {
  padding: 0;
  display: inline-block;
  width: 50px !important;
  height: 50px;
  line-height: 50px;
  margin: 0 0 0 5px;
  font-size: 11px;
}/*# sourceMappingURL=odysian.css.map */