.intro-archive {
  text-align: center;
  margin: 20px 0 30px;
  background: linear-gradient($c3, $c3) 50% 50%/calc(100% - 10px) calc(100% - 10px) no-repeat,
    linear-gradient(270deg, $c5 0%, $rose 100%);
  border-radius: 5px;
  padding: 17px;
  box-sizing: border-box;
  padding: 20px 0;
  transform: rotate(-1deg);
  position: relative;

  .iconarchive {
    position: absolute;
    left: -40px;
    top: 15px;

    span {
      width: 90px !important;
      height: 90px !important;
    }
  }

  h1 {
    font-size: 2rem;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
    font-family: "lato";
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h2 {
    font-size: 1rem;
    color: $c5;
    margin: 10px 0 0 0;
  }

  .infonbtops {
    background: rgba(255, 255, 255, 0.15);
    padding: 5px 7px;
    font-weight: 600;
    border-radius: 5px;
    color: $c3;
    font-size: 1rem;
    margin-left: 10px;
  }
}

.filtres-bloc {
  .filtre-bloc{
    margin: 5px 0;
    .dropdown-toggle{
      min-width: 100%;
    }
    .input-group-text, .bootstrap-select, input{
      background-color: transparent;
    }
    .input-group-text{
      border: 2px solid $c5;
      border-right: none;
    }
    .switch-label{
      font-family: "montserrat";
      font-size: 13px;
      font-weight: 600;
    }
    input{
      border: 2px solid $c5;
      border-left: none;
      font-family: "montserrat";
      font-size: 13px;
      font-weight: 600;
    }
    .dropdown-toggle {
      border: 2px solid $c5;
      border-radius: 0.375rem;
    }
  }
  .group-filtres{
    margin-top: -20px;
  }
  .bs-searchbox{
    input{
      border: 1px solid $c5 !important;
    }
  }
}