.filtres-bloc {
  .filtre-bloc{
    margin: 5px 0;
    .dropdown-toggle{
      min-width: 250px;
    }
    .input-group-text, .bootstrap-select{
      background-color: transparent;
    }
    input{
      background: transparent;
    }
  }
}

.intro-archive {
  text-align: center;
  margin: 20px 0 30px;
  background-color: $c5;
  padding: 40px 0;
  transform: rotate(-2deg);

  h1 {
    font-size: 16px;
    color: #fff;
    margin: 0;
  }

  h2 {
    font-size: 20px;
    color: $c6;
    margin: 10px 0 0 0;
  }

  .infonbtops {
    background: $c6;
    padding: 5px;
    font-weight: 600;
    border-radius: 5px;
    color: $c5;
  }
}