@media (max-width: 500px) {
    .navbar-floating .navbar-container {
        padding: 0.7rem 0.5rem;
        .dropdown-cart a {
            font-size: 10px;
        }
        .value-user-stats {
            font-size: 0.8rem;
        }
    }
    .header-navbar .navbar-nav {
        width: 65%;
    }
    .user-niveau {
        .va-z-20 {
            width: 15px !important;
            height: 15px !important;
        }
    }
    .header-navbar .navbar-container ul.navbar-nav li>a.nav-link {
        padding: 0 0.3rem;
    }
    #vkrz-intro {
        .btn {
            width: 100%;
        }
    }
}

@media (min-width: 500px) and (max-width:600px) {
    .header-navbar .navbar-nav {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .toplist-footer {
        gap: 8px;

        .toplist-f-item {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            padding: 12px 14px;
        }
    }

    .share-classement-content {

        h3 {
            font-size: 16px;
        }

        p {
            font-size: 12px;
        }

        .close-share {
            top: 8px;
            right: 8px;
            font-size: 16px;
        }

        &-box {
            flex-direction: column;
            gap: 4px;
            
            .left {

                img {
                    max-width: 100%;
                }
            }

            a {
                font-size: 12px;
                width: 100%;
                margin: 2px 0;
                border-width: 1px;
            }
        }
    }
}