.ico-master {
  font-size: 85px;
}

.plus {
  font-size: 25px;
  margin: 0 10px;
  opacity: 0.2;
}

.plan-price {
  span {
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  .ico {
    font-size: 20px !important;
    margin-left: 5px;
  }
}

.dodo {
  .basic-pricing {
    background: linear-gradient(150deg, $c1, #471867, $c1, #230b36, $c1);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  .ico-masterclass {
    font-size: 185px;
  }
}

.pricing-card .annual-plan .plan-price span {
  font-size: 2.5rem;
  line-height: 0.8;
}

.basic-pricing {
  .card-text {
    font-size: 15px;
    color: #9b989f;
  }
}

.pricing-badge {
  position: absolute;
  right: 10px;
  top: 10px;
}

.blog-detail-wrapper {
  h1 {
    color: $rose;
    font-family: $font1;
    font-weight: 800 !important;
  }

  h2 {
    font-size: 20px;
    margin: 40px 0 20px 0;
  }
}

.apropos {
  h1 {
    font-weight: 600;
    font-size: 2.5rem;
    margin: 0;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }

    img {
      max-width: 210px;
      transform: rotate(7deg);
    }
  }

  .infoabout {
    margin: 0 0 20px;
    font-size: 13px;
    color: #a29d9d;
  }

  .card-text {
    h2 {
      background: rgba(255, 255, 255, 0.05);
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 20px;
      margin: 60px 0 20px 0;
      text-transform: uppercase;
      font-weight: 600;
    }

    img {
      border-radius: 10px;
      max-width: 100%;
      height: auto;
    }
  }

  p, li {
    line-height: 1.5rem;
    font-size: 0.95rem;
    font-weight: 500;
    color: $muted;
    mark{
      color: $rose;
    }
    citation{
      color: $muted;
      border-left: 3px solid $muted;
      display: block;
      padding: 10px 10px 10px 20px !important;
      margin: 0 20px 0 20px;
      background: #ffffff03 !important;
    }
  }
}

.space {
  display: inline-block;
  width: 5px;
}

.card-footer {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.evolution {
  h1 {
    color: $rose;
    font-weight: 600;
    font-size: 2.5rem;
    margin: 0;
    text-transform: uppercase;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 768px) {
  .evolution {
    h1 {
      font-size: 1.5rem;
    }
  }
}

.apropos {
  a {
    color: $rose !important;

    &:hover {
      text-decoration: underline;
    }
  }
}

.page-template-evolution{
  .intro-archive{
    h2{
      font-size: 0.85rem;
      margin: 10px 10px 0 10px;
    }
    .iconarchive {
      position: absolute;
      right: -50px;
      top: 25px;
      left: auto;
    }
  }
  .basic-pricing{
    h3{
      margin: 10px 0 0;
    }
    p{
      margin: 0 !important;
    }
  }
}