.parrainage-card {
  .card-header {

    .card-title {
      color: #fff;
      font-weight: 600;
      font-size: 1.5rem;
      margin: 0;
      text-align: center;
    }
  }

  .card-body {
    .btn {
      width: 50%;
      padding: .6rem 1rem !important;

      p.h4 {
        font-size: 1.1rem;
      }

      @media (max-width: 768px) {
        width: 100%;
        padding: .6rem !important;

        p.h4 {
          font-size: 1rem;
        }
      }
    }

    .btn-solocode  {
      border: 1px solid $rose;
      
      p {
        color: $rose !important;
      }
    }
  }

  .parrainage-rs {
    width: 100%;

    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 1rem;
      width: 100%;
      padding: 1rem .6rem;
      margin: 0;

      @media (max-width: 768px) {
        gap: .8rem;
        justify-content: space-around;
      }

      i {
        display: grid;
        place-items: center;
        font-size: 1.3rem;
        border-radius: 50%;
        border: $c5 2px solid;
        width: 50px;
        height: 50px;
        transition: .3s all;
        color: $c5;

        @media (max-width: 768px) {
          font-size: 1.1rem;
          width: 40px;
          height: 40px;
        }

        &:hover {
          border: $rose 2px solid;
          color: $rose !important;
        }
      }
    }
  }

  hr {
    border-color: #7267f079 !important;
  }

  h6 {
    color: $c5;
  }
}