.dark-layout .modal .modal-footer {
    border-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
}

.dark-layout .modal .modal-body {
    padding: 20px;
}

.valid-commande{
    display: none;
}

.modal-shop{
  .modal-header{
    padding: 10px;
  }
  .modal-footer{
    justify-content: center !important;
  }
}