// Top
.single-tournoi {
    .tournoi-content {
        text-align: center;
        position: relative;

        .title-contender {
            color: #fff;
            text-transform: uppercase;
            font-size: 15px;
            margin: 30px 0 0 0;
        }
    }
}

.avatar-group {
    overflow: visible !important;

    .avatar {
        padding: 2px;

        &.pull-up:hover {
            transform: translateY(-4px) scale(1.2);
        }
    }
}

// Stepbar
.stepbar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 3px;
    background: $rose;
    width: 0;
    transition: all 1s ease-in-out;
    z-index: 999999;

    h5 {
        text-align: center;
        color: #000;
        text-transform: uppercase;
        font-size: 20px;

        span {
            font-weight: normal;
            font-size: 15px;
            text-transform: lowercase !important;
            color: #333 !important;
        }
    }

    .stepbar-content {
        position: relative;

        span {
            position: absolute;
            left: 8px;
            top: -22px;
            color: $rose;
            font-size: 15px;
            font-weight: 600;
            height: 15px;
        }
    }
}

// Contenders
.cover_contenders {
    text-align: center;

    .cov-illu {
        margin: 0 auto;
        min-height: 440px;
        border-radius: 10px;
        background-size: cover !important;
        margin-bottom: 30px;
    }
}

.rounded {

    .cov-illu,
    img {
        border-radius: 50%;
        max-width: 100%;
        height: auto;
    }

    .contenders-containers .link-contender .contender_zone {
        img {
            border-radius: 50%;
            max-width: 100%;
            height: auto;
        }
    }
}

.contenders-containers {

    .link-contender {
        max-width: 400px;
        position: relative;
        transition: all 0.2s ease-in;
        margin: 0 auto;

        &:hover {
            transform: scale(1.03);
        }

        .contender_zone {
            height: 100%;
            width: 100%;
            display: block;

            img {
                border-radius: 10px;
                max-width: 100%;
                height: auto;
                transition: all .3s ease-in;
            }

        }
    }

    .link-contender_1 {
        .contender_zone {
            cursor: url("../../images/vkrz/cursor_l.png"), pointer !important;
        }
    }

    .link-contender_2 {
        .contender_zone {
            cursor: url("../../images/vkrz/cursor_r.png"), pointer !important;
        }
    }
}

.swiper-slide:hover {
    z-index: 999;
}

.dark-layout .swiper-container:not(.swiper-parallax) .swiper-slide {
    @media (max-width: 500px) {
        width:100% !important;
    }
}

.min-tournoi {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 0;

    .cov-illu {
        min-height: 120px;
        border-radius: 5px 5px 0 0;
        position: relative;

        .badge {
            position: absolute;
            right: 5px;
            top: 5px;
            z-index: 2;
        }

        .voile {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            opacity: 0.2;
            background: rgb(12, 10, 39);
            background: linear-gradient(200deg, rgba(12, 10, 39, 1) 0%, rgba(12, 10, 39, 0) 100%);
            transition: all .2s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: start;
            flex-direction: column;
            z-index: 1;
            padding: 40px 0 0 0;

            .spoun {
                display: none;
                text-align: center;

                i {
                    font-size: 40px;
                    color: #fff;
                }

                h5 {
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #fff;
                    text-align: center;
                }

                &.topsponso {

                    h5 {
                        font-size: 1.8rem;
                        letter-spacing: .5px;
                        position: relative;
                        top: 40px;
                    }
                }
            }
        }
    }

    .info-top {
        display: flex;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 20px;
        right: 20px;
        padding: 5px 10px;
        z-index: 99;
        opacity: 0;
        transition: all 0.2s ease-in;
        align-items: flex-end;
        justify-content: center;

        h5{
            font-size: 12px;
            font-weight: 600;
        }

        .avatar-infomore {
            margin-right: 5px;
        }

        .mr-10px {
            margin-right: 5px;
        }

        .info-top-col {
            padding: 0 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            h5{
              margin: 0 0 0 5px;
            }
        }

        .avatar img {
            width: 20px;
            height: 20px;
        }

        h4 {
            font-size: 12px;
        }

        .content-body .link-creator {
            font-size: 9px;
            span{
                text-align: left;
                margin: 0;
                position: relative;
                top: 4px;
            }
        }

        .content-body .link-to-creator {
            color: #fff;
        }
    }

    &:hover {
        transform: scale(1.05);

        .info-top {
            opacity: 1;
        }

        .cov-illu {
            .badge {
                display: none;
            }

            .voile {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                opacity: 0.9;
                background: rgb(12, 10, 39);

                .spoun {
                    display: block;
                }
            }
        }
    }

    .card-title {
        margin: 0;
    }

    .card-body {
        padding: 10px;
        position: relative;
        min-height: 100px;
        @media (max-width: 500px) {
            min-height:70px;
        }

        p {
            margin-bottom: 5px;
        }

        h4 {
            font-size: 13px;
            text-align: center;
            margin-bottom: 10px;
            span{
                margin: 0 2px;
            }
        }

        h3{
            color: $c5;
            font-size: 0.95rem;
            text-align: center;
            font-weight: 500;
            @media (max-width: 768px) {
              font-size: 0.85rem;
            }
        }
    }
}

.cat-link {
    margin: 0 3px;
}

.display_battle {
    overflow: hidden;
    padding: 20px 0 10px;
}

.current_rank {
    .demo-inline-spacing {
        justify-content: center;

        h3 {
            margin: 0;
        }

        .avatar-group {
            margin: 0 !important;
        }
    }
}

.nav-tournament {
    position: fixed;
    bottom: 20px;
    right: 0;
    left: 85px;

    .btn-outline-primary {
        &:hover {
            background: $c5 !important;
            color: #fff !important;
        }
    }
}

.share-t {
    a {
        display: inline-block;
        min-width: 40px;
        text-align: center;
    }
}

.share-bloc{
    .share-t{
        a {
            display: inline-block;
            min-width: 40px;
            text-align: center;
            min-height: 70px;
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }
}

.share-label {
    display: inline-block;
    color: $c5;
}

.content-intro {
    min-height: 80vh;
    align-items: center;

    .intro {
        width: 750px;
        max-width: 100%;
        margin: 0 auto;
    }
}

.card-developer-meetup {
    background: $c1 !important;

    .presentationtop{
        padding: 20px 20px 10px 20px;
        h2{
          font-weight: 600;
          font-size: 17px;
          margin: 0 0 10px 0;
        }
        h1{
          font-size: 22px;
          line-height: normal;
          font-family: $font1;
        }
    }
    .meetup-img-wrapper {
        min-height: 320px;
        background-position: center;
        position: relative;
        background-size: cover !important;

        .badge {
            color: #fff !important;
            position: relative;
            font-size: 12px;
            font-weight: 600;
            text-align: right;
            float: right;
            margin: 5px 5px 0 0;
        }

        .list-contenders {
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            right: 0;
            margin: 0;
            display: flow-root;
            text-align: center;
            overflow: hidden;
            padding: 0 10px;

            li{
                background: #0a0739d1;
                border-radius: 50%;
                padding: 0;
                max-width: 100px;
            }
        }

        .voile_contenders {
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            right: 0;
            opacity: 0.6;
            height: 80px;
            background: rgb(12, 10, 40);
            background: linear-gradient(0deg, $c1 5%, rgba(0, 0, 0, 0) 100%);
        }

    }

    .meetup-header {
        margin-bottom: 10px;
    }

    .meetings {
        justify-content: space-around;
    }

    .avatar-group {
        margin: 20px;
        justify-content: center;
    }

    .card-footer{
        border-top: 1px solid rgb(42 32 89);
    }
    .infos-card-t {
        justify-content: center;

        .avatar {
            margin-right: 10px;
        }

        .avatar-t-single{
            width: 60px;
        }

        .content-body {
            display: flex;
            flex-direction: column;
        }    

        .link-creator {
            position: relative;
            top: -2px;
            font-size: 12px;
        }

        .info-numbers{
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: unset;
          h4{
            font-size: 0.9rem;
          }
        }

        a {
            color: #fff;
            transform: scale(1);
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -ms-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }

        &.info-card-t-v {
            .ico {
                position: relative;
                top: -3px;
            }

            .content-body {
                small {
                    margin-top: -2px;
                    margin-left: 2px;
                }
            }
        }
    }

    .list-contenders-wording {
        margin-right: 20px;
    }

    .card-footer {
        padding: 10px;
    }

    .card-cta {
        padding: 0 20px 20px;

        .choosecta {
            display: flex;
            justify-content: space-around;

            .cta-begin {
                display: flex;
                flex-direction: column;
                margin: 0 20px;

                a {
                    display: inline-block;
                    margin: 0 auto 10px;
                    max-width: 350px;
                    font-weight: 700 !important;
                    letter-spacing: 1px;
                    transform: rotate(-2deg);
                    display: block !important;
                    font-size: 20px;
                    font-family: $font1;
                }
            }
        }
    }
}

.versus {
    img {
        border-radius: 0 !important;
        max-width: 30px;
        animation: tilt-n-move-shaking 0.5s infinite;
    }
}

@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(1px, 1px) rotate(1deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-1px, 1px) rotate(-1deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

.single {
    footer.footer {
        display: none;
    }
}
.meetup-header{
    h4{
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            margin: 0 10px;
        }
    }
}
.waiter, .waiter-begin {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    right: 0;
    left: 0;
    background: linear-gradient(150deg, #0c0a27, #471867, #0c0a27, #230b36, #0c0a27);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding-top: 200px;
    text-align: center;
    display: none;
    margin: 0;

    .loader {
        flex-direction: column;
    }

    h4 {
        text-transform: uppercase;
        margin-top: 20px;
    }
}

.twitch_live{
    margin-bottom: 15px;
    a{
        img{
            border-radius: 10px;
        }
        &:hover{
            transition: all 0.2s ease-in;
            transform: scale(1.1);
        }
    }
}

.t-sponso-container,
.t-normal-container {

    .twitch-votes-container {
        margin-top: 1rem;
        
        .votes-stats-p {
            font-size: 1.8rem;
            line-height: 100%;
            margin: .5rem;
    
            .votes-number {
                color: #FFE160;
            }
    
            & + p {
                font-size: 1rem;
            }
        }
    
        .votes-container {
            & > p:first-of-type {
                color: $rose;
                font-weight: bold;
                font-size: 1.2rem;
                margin-bottom: .5rem;
            }
        
            .votes-stats {
                color: #FFF;
                height:80px; width:80px;
                border: 1px solid $c5;
                border-radius: 50%;
                text-align: center;
                display: inline-block;
                outline-color:$c5;
                transition: all 700ms linear;
                position: relative;
        
                &.active{
                    outline-color:rgba(255,255,255,0);
                    text-shadow:0 0 20px rgba(255,255,255,1);
                    box-shadow:inset 0 0 20px rgba(255,255,255,.2),
                        0 0 20px rgba(255,255,255,.3);
                    outline-offset:15px;
                }
        
                .votes-percent {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 1.4rem;
                    font-weight: bold;
                    margin: 0;
                }
        
                .votes-paragraph {
                margin: 0 !important;
                }
            }
        }
    }
    
    #countdown {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 4rem 0;
        width: 100%;
    
        .counter {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
    
            &.hide {
                transform: translate(-50%, -50%) scale(0);
                animation: hide .2s ease-out;
            }
    
            .nums {
                color: $rose;
                position: relative;
                font-size: 100px;
                overflow: hidden;
                height: 80px;
        
                span {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(120deg);
                    transform-origin: bottom center;
            
                    &.in {
                        transform: translate(-50%, -50%) rotate(0deg);
                        animation: goIn .5s ease-in-out;
                    }
                
                    &.out {
                        animation: goOut .5s ease-in-out;
                    }
                }
    
                @keyframes goIn {
                    0% {
                        transform: translate(-50%, -50%) rotate(120deg);
                    }
                    30% {
                        transform: translate(-50%, -50%) rotate(-20deg);
                    }
            
                    60% {
                        transform: translate(-50%, -50%) rotate(10deg);
                    }
            
                    90%, 100% {
                        transform: translate(-50%, -50%) rotate(0deg);
                    }
            
                }
            
                @keyframes goOut {
                    0%, 30% {
                        transform: translate(-50%, -50%) rotate(0deg);
                    }
            
                    60% {
                        transform: translate(-50%, -50%) rotate(20deg);
                    }
            
                    100% {
                        transform: translate(-50%, -50%) rotate(-120deg);
                    }
                }
            }
    
            h4 {
                font-size: 3.1rem !important;
            }
        }
    
        .final {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
    
            &.show {
                transform: translate(-50%, -50%) scale(1);
                animation: show .3s ease-in;
            }
        }
    
        @keyframes hide {
            0% {
                transform: translate(-50%, -50%) scale(1);
            }
    
            100% {
                transform: translate(-50%, -50%) scale(0);
            }
        }
    }
    
    .mode-alert {
        margin-top: .35rem;
        display: block;
        color: #ea535684
    }
    
    .twitchGamesWinnerContainer {
        padding: 40px 0;
        text-align: center;
    
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        
        &.show {
        transform: translate(-50%, -50%) scale(1);
        animation: show .3s ease-in;
        }
    }
    
    .twitchGamesWinnerName {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 156px;
        text-transform: uppercase;
        text-align: center;
        position: relative;
    
        &.confetti {
            > .particle {
            opacity: 0;
            position: absolute;
            animation: confetti 3s ease-in infinite;
            &.c1 {
                background-color: #d13447;
            }
            &.c2 {
                background-color: #ffbf00;
            }
            &.c3 {
                background-color: #263672;
            }
            &.c4 {
                background-color: #0d963d;
            }
            }
        }
        &::before {   
            content: url("https://www.freepnglogos.com/uploads/crown-png/pin-leanne-dlamini-women-women-gold-king-crown-35.png") ;
            position: absolute; 
            width: 100px;
            height: 100px;
            display: inline-block;
            transform: scale(.05) rotate(45deg);
            right: -10%;
            top: -70%;
        }
    }
    
    @keyframes confetti {
      0% {
        opacity: 0;
        transform: translateY(0%) rotate(0deg);
      }
      10% {
        opacity: 1;
      }
      35% {
        transform: translateY(-800%) rotate(270deg);
      }
      80% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: translateY(2000%) rotate(1440deg);
      }
    }
    
    @keyframes show {
            0% {
                transform: translate(-50%, -50%) scale(0);
            }
    
            80% {
                transform: translate(-50%, -50%) scale(1.4);
            }
    
            100% {
                transform: translate(-50%, -50%) scale(1);
            }
    }
    
    .twitch-overlay {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999999;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
    
        background: linear-gradient(210deg, #0c0a27de 40%, rgb(35 11 54 / 99%) 100%) fixed;
        border: 8px solid $rose;
        border-radius: 12px;
    
        box-shadow: 2px 2px 32px 1px $rose inset;
    
        & > h4:first-of-type {
            font-size: 1.6rem;
            color: #861053;
        }
    
        .btn-lg {
            font-size: 1.7rem !important;
        }
    
        #participants-overlay {
            font-size: 2.4rem;
            position: relative;
            width: 80%;
    
            &::after {
                content: attr(data-content);
                position: absolute;
                top: -10%;
                left: 2%;
                font-size: .8rem;
                text-transform: uppercase;
            }
        }
    }
    
    #begin_t,
    #begin_top3 {
        transition: all 0.3s ease 0s;
    }
    #begin_t.pulsate,
    #begin_top3.pulsate {
        background-image: linear-gradient(47deg, #c821a6, #8d25c2) !important;
        border: transparent 2px solid !important;
        animation: pulsate 2s infinite !important;
    }
    @keyframes pulsate {
        0% {
            transform: scale(1);
            box-shadow: none; 
        }
        50% {
            transform: scale(1.05);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); 
        }
        100% {
            transform: scale(1);
            box-shadow: none; 
        } 
    }
    .beforeDelete {
        animation-name: delete;
        animation-duration: 4s;
        transition: all .2s;
    }
    @keyframes delete {
        25% {
            color: #EA5455;
            visibility: visible;
        }
        50% {
            color: #fff;
            visibility: visible;
        }
        75% {
            color: #EA5455;
            visibility: visible;
        }
    }
    
    .blur {
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }

    #ranking-player {
        h4 {
            color: $c5 !important;
            font-size: 1.2rem;
            text-align: left;
            margin: 0;
            margin-bottom: 6px !important;
        }

        table {
            background: linear-gradient(181deg, rgba(238, 19, 207, 0) 0%, rgb(166 1 214 / 50%) 100%);
        }

        max-width: 100% !important;

        .voted {
            color: $c5!important;
            font-weight: bold!important;
        }
    }

    #participants {
        background: linear-gradient(181deg, rgba(238, 19, 207, 0) 0%, rgb(166 1 214 / 50%) 100%);
        
        .card-title {
            color: $c5 !important;
            font-size: 1rem;

            &.elimines {
                color: #903334 !important;
                margin-top: 6px;
            }
        }
    
        .card-body {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            flex-direction: column;
            min-height: 50vh;
    
            .card-element {
                flex: 1;
                font-size: 3.2vh;
    
                display: flex;
                justify-content: center;
                align-items: center;
    
                &:not(:last-of-type) {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
                }
            }
        }
    }
}

body {
    overflow-x: hidden !important;
}

.swal2-container {
    position: fixed !important;
    z-index: 1000000 !important;
}

.top-big{
    .min-tournoi .cov-illu {
        min-height: 220px;
    }
}

.tools-top{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.prez-top{
    position: relative;
    z-index: 2;
}
.tournament-heading{
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    h1{
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        color: $rose !important;
        margin-bottom: 5px;
    }
    .text-muted{
        color: #fff !important;
    }
}

.tournoi-content-final {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 120px);
    margin: 0;
    justify-content: flex-start;
}

.current_ranking{
    .avatar .avatar-content {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 0.857rem;
        background-color: #0c0b27 !important;
        border: none;
        color: #6f63e8;
        img{
            border: none;
        }
    }
}

.top-resume-tool{
    text-align: center;
}

.imgcado{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 150px;
}

.size-less-2{
  h1{
    font-size: 1rem;
  }
}

.modes-jeu-twitch{
  background-image: url('../../images/vkrz/twitch-games-banner.png');
  background-repeat: no-repeat;
  background-size: cover !important;
  padding: 20px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  h4{
    color: $rose;
    margin-bottom: 5px;
    font-family: $font1;
    font-size: 1.2rem;
    text-transform: uppercase;
    i{
      color: #fff;
    }
  }
  h5{
    color: #fff;
    font-weight: normal;
    font-size: 1rem;
  }
  .modes-jeu-twitch__content-btns{
    
    button {
      width: 100%;
      min-height: 40px;
      border: 2px solid $rose;
      background-color: transparent;
      color: #fff;
      font-family: $font1;
      font-weight: 700 !important;
      letter-spacing: 1px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      transition: all .3s;

      small {
        color: $gris;
        font-size: 0.8rem;
        font-weight: 500;
        display: block;
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: .3s all;
      }

      span {
        margin-left: 5px;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);

        small {
            opacity: 1;
            visibility: visible;
            height: 100%;
        }
      }

      &.selectedGameMode
      {
        color: #3fd084;
        background: transparent !important;
        border: #3fd084 2px solid;
      }
    }
  }

  .modes-jeu-twitch__content-msg {
    color: #3fd084;
    font-size: .8rem;
    margin-top: 1rem;
    display: block;
    text-align: center;
    line-height: 1;
  }
}

.btnstarttwitch{
  display: inline-block;
  background-color: transparent;
  background-image: url('../../images/vkrz/twitch-games-banner.png');
  background-repeat: no-repeat;
  background-size: cover !important;
  padding: 10px 20px;
  color: #fff;
  font-family: "lato";
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  position: fixed;
  bottom: 20px;
  left: 50%;
  margin-left: -175px;
  border: none;
  width: 350px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.2s ease-in;
  i{
    margin-right: 10px;
  }
  .titre-btn-btnstarttwitch {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  small{
    display: none;
    color: $gris;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: initial;
    text-align: center;
  }
  &:hover{
    small{
      display: block;
    }
  }
}

.choosecta{
  .btnprepa {
    background: transparent !important;
    border: 1px dashed #fff !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
  }
}

.compterequis{
  text-align: center;
  em{
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    display: inline-block;
    color: $c5;
  }
}