.widget{
  margin: 0 !important;
  .card-body{
    padding: 10px;
  }
}

#jugement{
  margin: 0;
  .offcanvas-body{
    padding: 10px;
  }
  .info-jugement{
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: $gris;
    font-family: "Montserrat";
    font-weight: 600;
  }
  .card-footer{
    margin-top: 10px;
    padding: 0;
  }
  .comments-container {
    list-style-type: none;

    .comment-template {
      padding-bottom: 1rem !important;
      border-bottom: #a9a9ac4d 1px solid;
    }
  }

  .commentarea-container {
    position: relative;

    textarea {
      border: 2px solid #a9a9ac1a;
      border-radius: 5px;
      width: 100%;
      background-color: transparent !important;
      font-size: 13px;
      resize: none;
      padding: 5px 10px 10px;
      color: #fff !important;
      -webkit-text-fill-color: #fff !important;
      height: 100px;

      &::placeholder {
        -webkit-text-fill-color: #A9A9AC !important;
      }

      &:focus {
        outline: none;
      }
    }

    button {
      position: absolute;
      right: 0px;
      top: 8px;
    }

    #send_comment_btn {
      background: none !important;
      border: none;
      outline: none;
    }
  }

  .replyCommentBtn {
    font-size: 10px;
  }

  .comment-template{
    .avatar{
      margin-right: 10px;
    }
    .media-body{
      width: 100%;
    }
    .media-heading{
      padding: 5px 0;
      margin: 0;
    }
  }
}

#sharetoplist{
  min-height: 100vh;
  display: flex !important;
  align-items: center;
  justify-content: center;
  h5.offcanvas-title {
    text-align: center;
    color: $rose;
    font-size: 1.5rem;
    margin-bottom: 5px;

    small {
      color: rgba(255, 255, 255, 0.50);
      font-weight: normal;
      font-size: 0.85rem;
    }
  }
  .offcanvas-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .share-classement-content-box{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

#infostop{
  .separate{
    margin: 20px auto;
  }
  .presentationtop{
    h4{
      align-items: start;
      font-size: 1rem;
      span{
        margin: 0 5px;
      }
    }
    .card-text{
      font-weight: 600;
    }
  }
  .top-resume-tool{
    h4 {
      font-size: 1rem;
    }
    .link-to-creator{
      margin: 20px auto 0;
      width: auto;
      .avatar{
        width: 60px;
      }
      h4{
        text-align: left;
      }
    }
  }
  .partagetop{
    li{
      list-style-type: none;
      a{
        text-align: center;
        font-family: "Lato", sans-serif;
        display: inline-block;
        font-size: 0.9rem;
        padding: 0.5em 2em;
        font-weight: 500;
        border: 2px solid rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);
        border-radius: 6px;
        margin: 0.5rem 0;
        transition: 0.3s all;
        width: 100%;
        &:hover {
          border-color: #f4167f;
          color: #f4167f;
        }
      }
    }
  }
}

.btn-avatar{
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.similar-tops{
  text-align: center;
}