.semi-dark-layout {
  /************ Main Menu **************/ }

.semi-dark-layout .main-menu {
  background-color: #312673; }

.semi-dark-layout .main-menu .shadow-bottom {
  background: linear-gradient(180deg, #312673 44%, rgba(49, 38, 115, 0.51) 73%, rgba(49, 38, 115, 0)); }

.semi-dark-layout .main-menu:not(.expanded) .navigation .sidebar-group-active a {
  background-color: #0c0a27; }

.semi-dark-layout .main-menu-content .navigation-main {
  background-color: #312673; }

.semi-dark-layout .main-menu-content .navigation-main .navigation-header {
  color: #676d7d; }

.semi-dark-layout .main-menu-content .navigation-main .nav-item a {
  color: #fff; }

.semi-dark-layout .main-menu-content .navigation-main .nav-item.open a {
  background-color: #0c0a27; }

.semi-dark-layout .main-menu-content .navigation-main .nav-item a:after,
.semi-dark-layout .main-menu-content .navigation-main .nav-item a {
  color: #fff; }

.semi-dark-layout .main-menu-content .navigation-main .nav-item .menu-content {
  background-color: #312673; }

.semi-dark-layout .main-menu-content .navigation-main .nav-item .menu-content .active .menu-item {
  color: #fff; }

.semi-dark-layout .main-menu-content .navigation-main .nav-item .menu-content li:not(.active) a {
  background-color: #312673; }

.semi-dark-layout .main-menu-content .navigation-main .active .menu-title,
.semi-dark-layout .main-menu-content .navigation-main .active i {
  color: #fff; }

.semi-dark-layout .main-menu-content .navigation-main .sidebar-group-active a {
  background: #312673;
  border-radius: 4px; }

.semi-dark-layout .main-menu-content .navigation-main .sidebar-group-active .menu-content {
  background-color: #312673; }

.semi-dark-layout .main-menu-content .navigation-main .sidebar-group-active .menu-content .active {
  z-index: 1; }

.semi-dark-layout .main-menu-content .navigation-main .sidebar-group-active .menu-content .active a {
  background-color: transparent; }

.semi-dark-layout .menu-collapsed .main-menu:not(.expanded) .navigation-main li.active > a {
  background: #0c0a27 !important;
  color: #fff !important; }
