.contenders-containers {
  .link-contender {
    min-height: 500px;
    position: relative;

    a {
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      opacity: 0;
      top: 50%;
      left: 50%;
      transition: all 0.1s ease-in;
    }
  }

  //LEFT CONTENDER
  & > :nth-child(1) {
    a {
      transform: translate(-50%, -75%);
      &.entering {
        transform: translate(-50%, -50%);
        opacity: 1;
      }
      &.leaving {
        transform: translate(-50%, -25%);
        opacity: 0;
      }
    }
  }

  //RIGHT CONTENDER
  & > :nth-child(3) {
    a {
      transform: translate(-50%, -25%);
      &.entering {
        transform: translate(-50%, -50%);
        opacity: 1;
      }
      &.leaving {
        transform: translate(-50%, -75%);
        opacity: 0;
      }
    }
  }
}

.rounded{
  .cov-illu, img{
    border-radius: 50%;
  }
}

.jsa{
  justify-content: space-around;
}

.container-cc{
  max-width: 1540px;
}