.contenders-containers {
  .link-contender {
    min-height: 500px;
    position: relative;

    a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: absolute;
      opacity: 0;
      top: 50%;
      left: 50%;
      transition: all 0.1s ease-in;
      img{
        border-radius: 50%;
      }
    }
  }

  //LEFT CONTENDER
  & > :nth-child(1) {
    a {
      transform: translate(-50%, -75%);
      &.entering {
        transform: translate(-50%, -50%);
        opacity: 1;
      }
      &.leaving {
        transform: translate(-50%, -25%);
        opacity: 0;
      }
    }
  }

  //RIGHT CONTENDER
  & > :nth-child(3) {
    a {
      transform: translate(-50%, -25%);
      &.entering {
        transform: translate(-50%, -50%);
        opacity: 1;
      }
      &.leaving {
        transform: translate(-50%, -75%);
        opacity: 0;
      }
    }
  }
}


