html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}


/* ----------------------- */
body{
  height: 100%;
  width: 100%;
  min-height: 100vh;
  font-family: 'Staatliches', cursive;
}
.cover{
  background-size: cover !important;
}
.title-battle{
  margin: 40px 0;
  text-align: center;
  color: #fff;
  font-family: 'Staatliches', cursive;
  text-shadow: 2px 2px 0px #000;
  b{
    display: block;
    font-weight: normal;
    font-size: 1em;
    margin: 0 0 10px 0;
    letter-spacing: 5px;
  }
  span{
    font-size: 2.5em;
    letter-spacing: 2px;
  }
}

.title-contender{
  margin: 10px 0 0;
  text-align: center;
  color: #fff;
  font-family: 'Staatliches', cursive;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
  font-size: 1.5em;
  letter-spacing: 3px;
}

.link-contender{
  img{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  &:hover{
    a{
      text-decoration: none;
    }
    img{
      transform: scale(1.1);
    }
  }
}

.header{
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  .logo{
    a{
      display: block;
    }
    img{
      max-height: 30px;
      width: auto;
    }
  }
  .display_votes{
    text-align: right;
    h6{
      color: #fff;
      font-size: 2em;
    }
  }
}
.versus{
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-size: 2.5em;
}
.classement_t{
  text-align: center;
  color: #fff;
  margin: 100px 0;
  .contenders_min{
    margin: 20px 0 40px;
  }
}