html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

/* ----------------------- */
body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  font-family: 'Staatliches', cursive; }

.cover {
  background-size: cover !important; }

.bloc-titre {
  margin: 20px 0 0;
  text-align: center;
  color: #fff;
  font-family: 'Staatliches', cursive;
  text-shadow: 2px 2px 0px #000; }
  .bloc-titre h1 {
    display: block;
    font-weight: normal;
    font-size: 1em;
    margin: 0 0 10px 0;
    letter-spacing: 5px; }
  .bloc-titre h2 {
    font-size: 2.5em;
    letter-spacing: 2px; }
    .bloc-titre h2 span {
      font-size: 15px;
      position: relative;
      top: -15px;
      cursor: help; }

.title-contender {
  margin: 10px 0 0;
  text-align: center;
  color: #fff;
  font-family: 'Staatliches', cursive;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
  font-size: 1.5em;
  letter-spacing: 3px; }

.link-contender a {
  display: block;
  text-align: center; }
.link-contender img {
  display: block;
  margin: 0 auto;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
.link-contender:hover a {
  text-decoration: none; }
.link-contender:hover img {
  transform: scale(1.1); }

.header {
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 0; }
  .header .logo a {
    display: block; }
  .header .logo img {
    max-height: 40px;
    width: auto; }

.display_votes {
  text-align: center; }
  .display_votes h6 {
    color: #fff;
    font-size: 1.3em; }

.display_users_votes {
  display: flex;
  flex-direction: row-reverse;
  align-items: center; }
  .display_users_votes h6 {
    color: #fff;
    font-size: 2em;
    margin-right: 20px; }

.versus {
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-size: 2.5em; }

.classement {
  text-align: center;
  color: #fff;
  min-height: 100vh;
  width: 100%;
  padding: 50px 5px 200px; }
  .classement h2 {
    color: #f5ee2a;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 5px;
    margin-bottom: 10px; }
  .classement h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 200 !important;
    font-size: 20px;
    letter-spacing: 2px; }
  .classement .contenders_min {
    margin-top: 20px;
    margin-bottom: 40px; }
  .classement .none {
    display: none; }
  .classement h5 span {
    color: #f5ee2a; }
  .classement .list-classement {
    margin-top: 50px; }
  .classement .reste-classement {
    margin-top: 50px; }

.cta {
  bottom: 0;
  position: fixed;
  right: 0;
  left: 0;
  text-align: center; }
  .cta a {
    margin: 0 auto;
    display: inline-block;
    background: #fa5371;
    padding: 15px 20px 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer; }
    .cta a:hover {
      transform: scale(1.1); }

.cta_2 {
  display: inline-block;
  padding: 15px 20px 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
  background: #fff;
  color: #000; }
  .cta_2:hover {
    transform: scale(1.1);
    color: #000; }

.cta .display_users_votes h6 {
  display: none; }

.vardump {
  padding: 50px;
  background: #fff; }

.none {
  display: none; }

.infos_tournoi {
  text-align: center;
  margin-top: 10px; }
  .infos_tournoi li {
    list-style-type: none;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    margin: 0 15px;
    cursor: help; }

.a_step {
  border-top: 5px solid;
  border-right: 5px solid;
  border-left: 5px solid;
  position: relative; }

.stepbar {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 15px; }
  .stepbar h5 {
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 20px; }
    .stepbar h5 span {
      font-weight: normal;
      font-size: 15px;
      text-transform: lowercase !important;
      color: #333 !important; }

.step_bar_1 {
  background: #e1f5c7; }

.step_bar_2 {
  background: #f5eb72; }

.step_bar_3 {
  background: #f5b140; }

.step_bar_4 {
  background: #f56226; }

.step_bar_5 {
  background: #f00b6a; }

.fin_tournoi_bar {
  background: #f51608; }

.step_1 {
  border-color: #e1f5c7; }

.step_2 {
  border-color: #f5eb72; }

.step_3 {
  border-color: #f5b140; }

.step_4 {
  border-color: #f56226; }

.step_5 {
  border-color: #f00b6a; }

.fin_tournoi {
  border-color: #f51608; }

.defaut-ba {
  background: #000; }

.titre_home h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
  letter-spacing: 2px;
  margin: 50px 0; }

.tournoi_min {
  margin-bottom: 40px; }
  .tournoi_min a {
    display: block;
    background: #000;
    border: 5px solid #fff;
    padding: 10px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .tournoi_min a h2 {
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
      margin: 10px 5px 0 0; }
      .tournoi_min a h2 span {
        display: block; }
    .tournoi_min a p {
      color: #fff;
      font-weight: normal;
      font-size: 15px;
      margin-top: 5px;
      margin-bottom: 5px;
      font-family: 'Poppins', sans-serif; }
    .tournoi_min a .check {
      display: none; }
    .tournoi_min a:hover {
      border-color: #f00b6a;
      transform: scale(1.05); }
      .tournoi_min a:hover h2 {
        color: #f00b6a; }
  .tournoi_min.fini a {
    border: 5px solid #f5ee2a; }
    .tournoi_min.fini a h2 {
      color: #f5ee2a; }
    .tournoi_min.fini a p {
      color: #fff;
      text-transform: lowercase;
      font-weight: normal;
      font-size: 15px; }
    .tournoi_min.fini a .illu_min {
      position: relative; }
    .tournoi_min.fini a .check {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.9;
      font-size: 160px;
      text-align: center;
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
      color: #f5ee2a; }

.finish_tournoi {
  padding: 200px 0; }
  .finish_tournoi h2 {
    margin-bottom: 40px;
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px; }
    .finish_tournoi h2 i {
      font-size: 60px;
      margin-bottom: 20px;
      color: #f5ee2a; }
    .finish_tournoi h2 b {
      color: #f5ee2a; }

.cta_btn {
  display: inline-block;
  padding: 14px 15px 12px 15px;
  border-radius: 2px;
  margin: 0 20px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .cta_btn i {
    margin-right: 10px;
    font-size: 20px; }
  .cta_btn:hover {
    transform: scale(1.05); }

.cta-1 {
  background: #f5ee2a;
  color: #000;
  font-size: 20px;
  margin-bottom: 15px;
  letter-spacing: 4px; }
  .cta-1:hover {
    color: #000; }

.cta-2 {
  color: #fff;
  font-size: 15px;
  letter-spacing: 2px; }
  .cta-2:hover {
    color: #fff; }

.share_rank {
  position: fixed;
  background: #f5ee2a;
  padding: 20px;
  color: #000;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .share_rank .cta_btn {
    margin: 0;
    padding: 0;
    color: #000; }
  .share_rank ul {
    margin: 0;
    padding: 0;
    text-align: right; }
    .share_rank ul li {
      display: inline-block;
      margin: 0 20px;
      letter-spacing: 2px; }
      .share_rank ul li a {
        display: block;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        .share_rank ul li a span {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          border: 2px solid #000;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          color: #000;
          -webkit-transition: color 0.4s, background 0.4s;
          -o-transition: color 0.4s, background 0.4s;
          transition: color 0.4s, background 0.4s; }
        .share_rank ul li a:hover {
          transform: scale(1.1); }

.cov-illu {
  min-height: 350px;
  background-size: cover !important; }

/*# sourceMappingURL=main.css.map */
