/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
body {
  font-family: 'Lato', sans-serif !important; }

.cover {
  background-size: cover !important; }

.contain {
  background-size: contain !important; }

.dark-layout .main-menu {
  background-color: #0a0921; }

.dark-layout .main-menu-content .navigation-main {
  background-color: #0a0921; }

.dark-layout .header-navbar-shadow {
  background: linear-gradient(180deg, #0a0922 44%, #0c0a27 73%, #0c0a27); }

.single-tournoi .header-navbar, .single-classement .header-navbar {
  background-color: rgba(255, 255, 255, 0.05); }

.single-tournoi .tournoi-content {
  text-align: center; }

.single-tournoi .tournoi-content .tournoi-infos {
  margin-bottom: 70px; }

.single-tournoi .tournoi-content .tournoi-infos h1 {
  color: #f4167f;
  text-transform: uppercase;
  font-size: 15px; }

.single-tournoi .tournoi-content .tournoi-infos h2 {
  color: #fff;
  font-size: 60px; }

.single-tournoi .tournoi-content .title-contender {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  margin: 30px 0 0 0; }

.stepbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 10px;
  background: #f4167f;
  width: 0;
  transition: all 1s ease-in-out;
  z-index: 999999; }

.stepbar h5 {
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-size: 20px; }

.stepbar h5 span {
  font-weight: normal;
  font-size: 15px;
  text-transform: lowercase !important;
  color: #333 !important; }

.cover_contenders {
  text-align: center; }

.cover_contenders .cov-illu {
  margin: 0 auto;
  min-height: 440px;
  border-radius: 10px;
  background-size: cover !important;
  margin-bottom: 30px;
  box-shadow: 0 0 50px rgba(232, 232, 231, 0.5); }

.rounded .cov-illu, .rounded img {
  border-radius: 50%; }

.bloc-contenders {
  transition: all .4s ease-in-out;
  position: relative;
  top: 0; }

.bloc-contenders:hover {
  top: -10px; }

.contenders-containers .link-contender {
  min-height: 500px;
  position: relative; }

.contenders-containers .link-contender .contender_zone {
  cursor: url("../img/select.png"), pointer !important;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transition: all 0.1s ease-in; }

.contenders-containers > :nth-child(1) .contender_zone {
  transform: translate(-50%, -75%); }

.contenders-containers > :nth-child(1) .contender_zone.entering {
  transform: translate(-50%, -50%);
  opacity: 1; }

.contenders-containers > :nth-child(1) .contender_zone.leaving {
  transform: translate(-50%, -75%);
  opacity: 0; }

.contenders-containers > :nth-child(3) .contender_zone {
  transform: translate(-50%, -75%); }

.contenders-containers > :nth-child(3) .contender_zone.entering {
  transform: translate(-50%, -50%);
  opacity: 1; }

.contenders-containers > :nth-child(3) .contender_zone.leaving {
  transform: translate(-50%, -75%);
  opacity: 0; }

.card-congratulations {
  background: linear-gradient(118deg, #0a0922, #1e2135);
  color: #fff; }

.jsa {
  justify-content: space-around; }

.share_rank {
  position: fixed;
  background: #f4167f;
  padding: 10px 20px;
  color: #000;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999; }

.share_rank .cta_btn {
  margin: 0;
  padding: 0;
  color: #000; }

.share_rank .cta_btn:hover {
  transform: scale(1.1);
  color: #fff !important; }

.share_rank ul {
  margin: 0;
  padding: 0;
  text-align: right; }

.share_rank ul li {
  display: inline-block;
  margin: 0 20px;
  letter-spacing: 2px; }

.share_rank ul li a {
  display: block;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.share_rank ul li a span {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #000;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  -webkit-transition: color 0.4s, background 0.4s;
  -o-transition: color 0.4s, background 0.4s;
  transition: color 0.4s, background 0.4s; }

.share_rank ul li a:hover {
  transform: scale(1.1);
  color: #fff !important; }

.classement {
  padding-bottom: 100px; }

.name h5 {
  text-transform: uppercase;
  text-align: center; }

.name h5 span {
  color: #f4167f; }

.aaa {
  align-items: center;
  height: 90vh; }

.current_ranking {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 0 0 20px 0; }

.card-profile .card-body .profile-image-wrapper .profile-image img {
  object-fit: cover; }

.avatar img {
  border-radius: 50%;
  object-fit: cover; }

.demo-inline-spacing {
  margin-top: 20px; }

.demo-inline-spacing h3 {
  margin: 0 10px 0 0;
  text-transform: uppercase;
  font-size: 10px; }

.demo-inline-spacing .avatar-group {
  margin: 0; }

.illu .cov-illu {
  min-height: 350px;
  border-radius: 10px;
  background-size: cover !important; }

.classement .contenders_min {
  margin: 30px 0; }

.main-menu .navbar-header .navbar-brand .brand-text {
  padding-left: 0 !important; }

.navbar-brand {
  position: relative; }

.badge-beta {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%; }

.badge-beta .badge {
  background: #f4167f !important;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase; }

.menu-collapsed .brand-text {
  display: block !important; }

.menu-collapsed .brand-text img {
  max-width: 80px;
  height: auto;
  position: relative;
  right: 24px; }

.menu-collapsed .badge-beta {
  position: absolute;
  bottom: -10px;
  text-align: center;
  width: 100%;
  right: 22px; }

.menu-collapsed .expanded img {
  max-width: 100%;
  height: auto;
  position: inherit;
  right: unset; }

.pk {
  margin-bottom: 40px !important; }

.dark-layout .card {
  background-color: rgba(97, 84, 167, 0.11);
  box-shadow: none; }

html .content .content-wrapper .content-header-title {
  border: none; }

.data-page .avatar-content i {
  font-size: 20px; }

.data-page .card-statistics .statistics-body {
  padding: 2rem 2.4rem 2rem !important; }

.card-nude {
  background: transparent !important;
  color: #fff; }

.card-nude h1 {
  text-transform: uppercase;
  font-weight: 900; }

.big-cat {
  margin-bottom: 40px; }

.big-cat .heading-cat {
  margin-bottom: 20px; }

.big-cat .heading-cat h2 {
  font-weight: 900;
  letter-spacing: 2px; }

.min-tournoi {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 0; }

.min-tournoi .cov-illu {
  min-height: 200px;
  border-radius: 5px 5px 0 0;
  position: relative; }

.min-tournoi .cov-illu .badge {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 99; }

.min-tournoi .cov-illu .voile {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.2;
  background: #0c0a27;
  background: linear-gradient(200deg, #0c0a27 0%, rgba(12, 10, 39, 0) 100%);
  transition: all .2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.min-tournoi .cov-illu .voile .spoun {
  display: none;
  text-align: center; }

.min-tournoi .cov-illu .voile .spoun i {
  font-size: 40px;
  color: #fff; }

.min-tournoi .cov-illu .voile .spoun h5 {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-top: 10px;
  text-align: center; }

.min-tournoi:hover {
  transform: scale(1.1); }

.min-tournoi:hover .cov-illu .badge {
  display: none; }

.min-tournoi:hover .cov-illu .voile {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.9;
  background: #0c0a27; }

.min-tournoi:hover .cov-illu .voile .spoun {
  display: block; }

.min-tournoi .card-title {
  margin: 0; }

.text-rose {
  color: #f4167f !important; }

html .content.app-content {
  padding-top: 40px;
  padding-bottom: 100px;
  margin-bottom: 100px;
  height: 110vh; }
